In [18]:
import pandas as pd

In [19]:
allergies = pd.read_csv("./etl/datasets/csv/allergies.csv")
careplans = pd.read_csv("./etl/datasets/csv/careplans.csv")
claims_transactions = pd.read_csv("./etl/datasets/csv/claims_transactions.csv")
claims = pd.read_csv("./etl/datasets/csv/claims.csv")
conditions = pd.read_csv("./etl/datasets/csv/conditions.csv")
devices = pd.read_csv("./etl/datasets/csv/devices.csv")
encounters = pd.read_csv("./etl/datasets/csv/encounters.csv")
imaging_studies = pd.read_csv("./etl/datasets/csv/imaging_studies.csv")
immunizations = pd.read_csv("./etl/datasets/csv/immunizations.csv")
medications = pd.read_csv("./etl/datasets/csv/medications.csv")
observations = pd.read_csv("./etl/datasets/csv/observations.csv")
organizations = pd.read_csv("./etl/datasets/csv/organizations.csv")
patient_expenses = pd.read_csv("./etl/datasets/csv/patient_expenses.csv")
patients = pd.read_csv("./etl/datasets/csv/patients.csv")
payer_transitions = pd.read_csv("./etl/datasets/csv/payer_transitions.csv")
payers = pd.read_csv("./etl/datasets/csv/payers.csv")
procedures = pd.read_csv("./etl/datasets/csv/procedures.csv")
providers = pd.read_csv("./etl/datasets/csv/providers.csv")
supplies = pd.read_csv("./etl/datasets/csv/supplies.csv")
symptoms = pd.read_csv("./etl/datasets/csv/symptoms.csv")

# Allergies

In [51]:
allergies.head(3)

,START,STOP,PATIENT,ENCOUNTER,CODE,SYSTEM,DESCRIPTION,TYPE,CATEGORY,REACTION1,DESCRIPTION1,SEVERITY1,REACTION2,DESCRIPTION2,SEVERITY2
0,2007-09-28,NaN,f3b8472a-44ad-23b1-8132-b096033d2e41,0ce6b107-24c0-dc08-9c42-c5a379d1f82a,111088007,Unknown,Latex (substance),allergy,environment,247472004.0,Wheal (finding),MILD,271807003.0,Eruption of skin (disorder),MILD
1,2007-09-28,NaN,f3b8472a-44ad-23b1-8132-b096033d2e41,0ce6b107-24c0-dc08-9c42-c5a379d1f82a,84489001,Unknown,Mold (organism),allergy,environment,267101005.0,Nose running,MILD,NaN,NaN,NaN
2,2007-09-28,NaN,f3b8472a-44ad-23b1-8132-b096033d2e41,0ce6b107-24c0-dc08-9c42-c5a379d1f82a,260147004,Unknown,House dust mite (organism),allergy,environment,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
allergies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   START         90 non-null     object
 1   STOP          0 non-null      float64
 2   PATIENT       90 non-null     object
 3   ENCOUNTER     90 non-null     object
 4   CODE          90 non-null     int64
 5   SYSTEM        90 non-null     object
 6   DESCRIPTION   90 non-null     object
 7   TYPE          90 non-null     object
 8   CATEGORY      90 non-null     object
 9   REACTION1     45 non-null     float64
 10  DESCRIPTION1  45 non-null     object
 11  SEVERITY1     45 non-null     object
 12  REACTION2     28 non-null     float64
 13  DESCRIPTION2  28 non-null     object
 14  SEVERITY2     28 non-null     object
dtypes: float64(3), int64(1), object(11)
memory usage: 10.7+ KB

In [53]:
allergies.nunique()

START           15
STOP             0
PATIENT         15
ENCOUNTER       15
CODE            20
SYSTEM           1
DESCRIPTION     20
TYPE             2
CATEGORY         3
REACTION1       12
DESCRIPTION1    12
SEVERITY1        3
REACTION2        8
DESCRIPTION2     8
SEVERITY2        2
dtype: int64

In [57]:
allergies["CODE"].value_counts()

84489001           12
264287008          10
260147004           8
256277009           8
782576004           8
412071004           6
102263004           5
111088007           5
735971005           4
288328004           3
7984                3
1191                3
442571000124108     3
735029006           3
3718001             2
10831               2
29046               2
762952008           1
256355007           1
25037               1
Name: CODE, dtype: int64

In [136]:
allergies["SYSTEM"].value_counts()

Unknown    90
Name: SYSTEM, dtype: int64

In [58]:
allergies["DESCRIPTION"].value_counts()

Mold (organism)                    12
Animal dander (substance)          10
Tree pollen (substance)             8
House dust mite (organism)          8
Grass pollen (substance)            8
Wheat (substance)                   6
Eggs (edible) (substance)           5
Latex (substance)                   5
Fish (substance)                    4
Shellfish (substance)               3
Tree nut (substance)                3
Penicillin V                        3
Aspirin                             3
Bee venom (substance)               3
Sulfamethoxazole / Trimethoprim     2
Cow's milk (substance)              2
Lisinopril                          2
cefdinir                            1
Soy bean                            1
Peanut (substance)                  1
Name: DESCRIPTION, dtype: int64

In [59]:
allergies["TYPE"].value_counts()

allergy        88
intolerance     2
Name: TYPE, dtype: int64

In [64]:
allergies["CATEGORY"].value_counts()

environment    54
food           25
medication     11
Name: CATEGORY, dtype: int64

In [62]:
display(allergies["REACTION1"].value_counts())
display(allergies["DESCRIPTION1"].value_counts())
display(allergies["SEVERITY1"].value_counts())

247472004.0    11
878820003.0     9
39579001.0      6
271807003.0     4
267036007.0     3
267101005.0     3
21626009.0      2
49727002.0      2
300359004.0     2
402387002.0     1
62315008.0      1
21522001.0      1
Name: REACTION1, dtype: int64

Wheal (finding)                   11
Rhinoconjunctivitis (disorder)     9
Anaphylaxis (disorder)             6
Eruption of skin (disorder)        4
Nose running                       3
Dyspnea (finding)                  3
Allergic skin rash                 2
Cough (finding)                    2
Finding of vomiting (finding)      2
Abdominal pain (finding)           1
Diarrhea (finding)                 1
Allergic angioedema (disorder)     1
Name: DESCRIPTION1, dtype: int64

MODERATE    27
MILD        12
SEVERE       6
Name: SEVERITY1, dtype: int64

In [63]:
display(allergies["REACTION2"].value_counts())
display(allergies["DESCRIPTION2"].value_counts())
display(allergies["SEVERITY2"].value_counts())

271807003.0    12
247472004.0     6
402387002.0     3
267036007.0     3
878820003.0     1
62315008.0      1
76067001.0      1
422587007.0     1
Name: REACTION2, dtype: int64

Eruption of skin (disorder)       12
Wheal (finding)                    6
Allergic angioedema (disorder)     3
Dyspnea (finding)                  3
Diarrhea (finding)                 1
Rhinoconjunctivitis (disorder)     1
Sneezing                           1
Nausea (finding)                   1
Name: DESCRIPTION2, dtype: int64

MILD        19
MODERATE     9
Name: SEVERITY2, dtype: int64

In [137]:
allergies["PATIENT"].value_counts()

7bad641d-51df-ad52-5989-a3f14b77c52a    11
f3b8472a-44ad-23b1-8132-b096033d2e41    11
0da8d6e5-017b-dd3a-d3de-5eb41c46e0f4    10
d20aad2d-5f0e-932c-0ba8-dec2325c9f5f     9
2331a899-a65f-5577-8b95-ce995e833aa3     9
356c64dc-c983-2ed4-7631-dee93beedab3     8
d0f42c19-94b4-964d-b7d8-d087fe220e78     7
65d69f42-dcce-4773-0d7a-aedcce4dc98a     6
aa54bf98-f27f-fbda-eeae-00bfb1656ee0     5
41ac485e-8346-259b-1661-a73de3413401     3
f78e216e-9993-3fe5-4c67-6272f6e0b151     3
5d4f915d-9dcd-485c-1dc8-bea871dc2304     2
d925bf7c-1ed3-4b52-4480-63c1c8849b30     2
8e3958d1-7898-a8e0-f17a-d7dfbd4b5ac0     2
794e3e59-abf6-0282-2ebc-1bd112328bdb     2
Name: PATIENT, dtype: int64

In [54]:
allergies["ENCOUNTER"].value_counts()

0ce6b107-24c0-dc08-9c42-c5a379d1f82a    11
2c577a31-1b96-e3b0-fe24-4c143fbdd6bc    11
d4cfedea-213c-133b-dda6-2af70af5a1c8    10
d32396d3-befd-e12e-f1c4-f991d4b52be8     9
deba0432-eb6d-d76e-1283-298701b80b18     9
016d71a9-99cd-ba3b-13a9-a674f16f8d96     8
367ed7a0-42c9-8a94-1e8b-4def22843269     7
012b1c32-77d5-ce25-610e-9eb9bbe1f760     6
32900619-6518-b05a-372c-f1ad1f144aff     5
e74489ab-a558-60ba-c31a-e67a16ef6f0f     3
f9a285d9-ad53-da3f-a77d-722f6bbe4f7e     3
691ce6d6-bfbb-4eae-785c-74fd490c7903     2
1f8bbb1d-b955-1a5e-d086-82540a2f9ca7     2
bfa2673e-f0bb-a2a8-0dd6-eff6e012a51b     2
95a181e5-63ee-c2a4-e8cd-9528a37e5496     2
Name: ENCOUNTER, dtype: int64

# Careplans

In [65]:
careplans.head(3)

,Id,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION
0,28fcd784-bc79-484c-026a-226f165ba9a7,2009-05-19,2010-01-24,febe7eb9-4860-1b17-d609-2c4c74e8b920,a8df6ba8-8bb7-5e55-dd55-792dd4170915,53950000,Respiratory therapy,NaN,NaN
1,b2576698-0eb0-b342-32c2-ea1a9b75c490,2007-09-15,NaN,f3b8472a-44ad-23b1-8132-b096033d2e41,c8fcd267-325d-5873-bc5d-7f89119a6a13,384758001,Self-care interventions (procedure),NaN,NaN
2,5c3d9039-fea1-c026-59a2-27b53e38b0c7,2012-08-17,2012-11-06,0d505b75-df45-f29c-2ee8-068411e7f6a3,c97a37b4-bd79-2485-6708-486a9e493a7f,53950000,Respiratory therapy,NaN,NaN

In [66]:
careplans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1221 entries, 0 to 1220
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 1221 non-null   object
 1   START              1221 non-null   object
 2   STOP               988 non-null    object
 3   PATIENT            1221 non-null   object
 4   ENCOUNTER          1221 non-null   object
 5   CODE               1221 non-null   int64
 6   DESCRIPTION        1221 non-null   object
 7   REASONCODE         556 non-null    float64
 8   REASONDESCRIPTION  556 non-null    object
dtypes: float64(1), int64(1), object(7)
memory usage: 86.0+ KB

In [67]:
careplans.nunique()

Id                   1221
START                1181
STOP                  963
PATIENT               113
ENCOUNTER            1215
CODE                   35
DESCRIPTION            36
REASONCODE             52
REASONDESCRIPTION      52
dtype: int64

In [68]:
careplans["CODE"].value_counts()

53950000     302
134435003    192
773513001    116
385691007     87
225358003     82
698360004     57
443402002     48
47387005      44
408869004     40
276239002     29
737471002     25
734163000     24
773593000     23
133901003     22
384758001     15
386522008     13
170836005     10
736690008     10
736376001     10
736285004      8
737567002      7
699728000      7
736372004      7
395082007      7
736353004      6
718361005      6
735984001      4
711282006      4
412776001      4
386257007      3
736252007      3
736254008      2
718347000      2
735321000      1
75162002       1
Name: CODE, dtype: int64

In [69]:
careplans["DESCRIPTION"].value_counts()

Respiratory therapy                                               302
Routine antenatal care                                            192
Physiotherapy care plan (record artifact)                         116
Fracture care                                                      87
Wound care                                                         82
Diabetes self management plan                                      57
Lifestyle education regarding hypertension                         48
Head injury rehabilitation                                         44
Musculoskeletal care                                               40
Therapy (regime/therapy)                                           29
Minor surgery care management (procedure)                          25
Urology care plan (record artifact)                                23
Burn care                                                          22
Care plan (record artifact)                                        22
Self-care interventions (procedure)                                15
Overactivity/inattention behavior management                       13
Dialysis care plan (record artifact)                               10
Allergic disorder monitoring                                       10
Cancer care plan                                                   10
Infectious disease care plan (record artifact)                     10
Hyperlipidemia clinical management plan                             8
Asthma self management                                              7
Discharge care plan (record artifact)                               7
Major surgery care management (procedure)                           7
Weight management program                                           6
Inpatient care plan (record artifact)                               6
Skin condition care                                                 4
Heart failure self management plan                                  4
Chronic obstructive pulmonary disease clinical management plan      4
Dementia management                                                 3
Psychiatry care plan                                                2
Care Plan                                                           2
Spinal cord injury rehabilitation                                   1
Surgical inpatient care plan (record artifact)                      1
Mental health care plan                                             1
Mental health care plan (record artifact)                           1
Name: DESCRIPTION, dtype: int64

In [71]:
careplans["REASONCODE"].value_counts()

4.446501e+07    80
1.577700e+07    53
5.962100e+07    48
6.210601e+07    34
5.815000e+07    24
7.070401e+07    24
2.631020e+08    19
2.845510e+08    19
3.702470e+08    18
2.833710e+08    17
6.596600e+07    16
1.611400e+07    15
2.833850e+08    13
4.031910e+08    13
3.010110e+08    13
2.845490e+08    13
3.373700e+07    10
8.880501e+07    10
3.882201e+07    10
6.256400e+07     9
4.031900e+08     8
5.582200e+07     8
7.827501e+07     7
1.098380e+08     6
3.634060e+08     6
2.398730e+08     6
2.336780e+08     6
4.444480e+08     5
2.018340e+08     4
4.405401e+07     4
3.598170e+08     3
3.083200e+07     3
2.407900e+07     3
1.269060e+08     3
2.692900e+07     2
4.444700e+08     2
2.398720e+08     2
1.850860e+08     2
1.231000e+12     2
4.750500e+07     2
8.743300e+07     2
9.376100e+07     2
7.343001e+07     1
4.031920e+08     1
2.302650e+08     1
4.027500e+07     1
3.701430e+08     1
6.023400e+07     1
3.692301e+07     1
1.100300e+08     1
1.959670e+08     1
1.572400e+07     1
Name: REASONCODE, dtype: int64

In [72]:
careplans["REASONDESCRIPTION"].value_counts()

Sprain of ankle                                            80
Prediabetes                                                53
Essential hypertension (disorder)                          48
Concussion with no loss of consciousness                   34
Fracture of clavicle                                       24
Sprain of wrist                                            24
Fracture subluxation of wrist                              19
Laceration of foot                                         19
Facial laceration                                          18
Laceration of forearm                                      17
Fracture of forearm                                        16
Fracture of ankle                                          15
Second degree burn                                         13
Escherichia coli urinary tract infection                   13
Laceration of thigh                                        13
Laceration of hand                                         13
Fracture of rib                                            10
Cystitis                                                   10
Chronic congestive heart failure (disorder)                10
Concussion with loss of consciousness                       9
Hyperlipidemia                                              8
Epidermal burn of skin (disorder)                           8
Obstructive sleep apnea syndrome (disorder)                 7
Childhood asthma                                            6
Malignant tumor of colon                                    6
Overlapping malignant neoplasm of colon                     6
Osteoarthritis of knee                                      6
Injury of medial collateral ligament of knee                5
Diabetes mellitus type 2 (disorder)                         4
Localized  primary osteoarthritis of the hand               4
Atopic dermatitis                                           3
Closed fracture of hip                                      3
Rupture of patellar tendon                                  3
Neoplasm of prostate                                        3
Injury of anterior cruciate ligament                        2
History of aortic valve replacement (situation)             2
Chronic obstructive bronchitis (disorder)                   2
Posttraumatic stress disorder                               2
Primary malignant neoplasm of colon                         2
Osteoarthritis of hip                                       2
Alzheimer's disease (disorder)                              2
Pulmonary emphysema (disorder)                              2
Major depression disorder                                   1
Concussion injury of brain                                  1
Sleep apnea (disorder)                                      1
Major depression  single episode                            1
Contact dermatitis                                          1
Aortic valve regurgitation (disorder)                       1
Familial Alzheimer's disease of early onset (disorder)      1
Fracture of vertebral column without spinal cord injury     1
Asthma                                                      1
Third degree burn                                           1
Name: REASONDESCRIPTION, dtype: int64

In [74]:
careplans["PATIENT"].value_counts()

5d4f915d-9dcd-485c-1dc8-bea871dc2304    27
0da8d6e5-017b-dd3a-d3de-5eb41c46e0f4    23
297a0fc0-6c0b-ff79-1258-33885aeb3eda    23
33c48b52-ef84-b6fc-2408-93b5215632da    22
b9003acd-736d-bb16-359f-f5b56a2ca9ff    20
                                        ..
49fdc425-ccb7-3209-881a-767809d86745     1
7f3c397b-0ba6-a8c4-bd7a-970472a3d945     1
a7f45e15-51a1-1c17-b916-287750ffdafa     1
3c2401c2-7d08-5c22-eb55-733f19ac556d     1
f78e216e-9993-3fe5-4c67-6272f6e0b151     1
Name: PATIENT, Length: 113, dtype: int64

In [75]:
careplans["ENCOUNTER"].value_counts()

67a4b35f-21db-a262-ce30-4a4552a53004    2
3ff61c38-463f-f6dc-d5e2-fee9f3c1d698    2
084fc97f-e1c1-1b34-7796-d8378c5fd6bc    2
6ee82f47-fe5b-3121-f7f9-6fb42c69423b    2
1fa44f5a-529f-beeb-8140-f0c1dff83254    2
                                       ..
e6c0e989-20bd-c986-f677-0d4e002c3951    1
1cb8bb95-fce4-aa58-e4bb-2ee13f8bdc45    1
6d7bbe7f-b36f-e55b-306c-1ea91bc740e1    1
398048c1-a8c2-b555-e2de-32c18ae0056f    1
159d6bd2-4a30-0274-c84d-11903fbcafbd    1
Name: ENCOUNTER, Length: 1215, dtype: int64

# Claims

In [112]:
claims.head(3)

,Id,PATIENTID,PROVIDERID,PRIMARYPATIENTINSURANCEID,SECONDARYPATIENTINSURANCEID,DEPARTMENTID,PATIENTDEPARTMENTID,DIAGNOSIS1,DIAGNOSIS2,DIAGNOSIS3,...,STATUS2,STATUSP,OUTSTANDING1,OUTSTANDING2,OUTSTANDINGP,LASTBILLEDDATE1,LASTBILLEDDATE2,LASTBILLEDDATEP,HEALTHCARECLAIMTYPEID1,HEALTHCARECLAIMTYPEID2
0,8901c57e-5aaf-0f7c-394e-c33468c7f2fe,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,234f5632-2b73-38dd-bb23-a03fff8bc0aa,d31fccc3-1767-390d-966a-22a5156f4219,0,10,10,410620009,NaN,NaN,...,CLOSED,CLOSED,0.0,0.0,0.0,2022-02-17T06:00:41Z,2022-02-17T06:00:41Z,2022-02-17T06:00:41Z,1,1
1,91d53534-f698-7f94-163b-67408a00af41,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,234f5632-2b73-38dd-bb23-a03fff8bc0aa,d31fccc3-1767-390d-966a-22a5156f4219,0,10,10,410620009,NaN,NaN,...,CLOSED,CLOSED,0.0,0.0,0.0,2022-03-24T06:00:41Z,2022-03-24T06:00:41Z,2022-03-24T06:00:41Z,1,1
2,32d2bb15-d9d6-5a67-cae8-a2eaf0907f23,e21a6d28-3d43-24eb-72cd-02393a4e38a4,c089f225-1997-3fc4-9116-fe17bc33118f,0133f751-9229-3cfd-815f-b6d4979bdd6a,0,10,10,410620009,NaN,NaN,...,CLOSED,CLOSED,0.0,0.0,0.0,2015-12-07T08:44:09Z,2015-12-07T08:44:09Z,2015-12-07T08:44:09Z,1,1

In [113]:
claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37058 entries, 0 to 37057
Data columns (total 31 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Id                           37058 non-null  object
 1   PATIENTID                    37058 non-null  object
 2   PROVIDERID                   37058 non-null  object
 3   PRIMARYPATIENTINSURANCEID    37058 non-null  object
 4   SECONDARYPATIENTINSURANCEID  37058 non-null  object
 5   DEPARTMENTID                 37058 non-null  int64
 6   PATIENTDEPARTMENTID          37058 non-null  int64
 7   DIAGNOSIS1                   37058 non-null  int64
 8   DIAGNOSIS2                   9269 non-null   float64
 9   DIAGNOSIS3                   1658 non-null   float64
 10  DIAGNOSIS4                   347 non-null    float64
 11  DIAGNOSIS5                   74 non-null     float64
 12  DIAGNOSIS6                   6 non-null      float64
 13  DIAGNOSIS7                   2 non-null      float64
 14  DIAGNOSIS8                   1 non-null      float64
 15  REFERRINGPROVIDERID          0 non-null      float64
 16  APPOINTMENTID                37058 non-null  object
 17  CURRENTILLNESSDATE           37058 non-null  object
 18  SERVICEDATE                  37058 non-null  object
 19  SUPERVISINGPROVIDERID        37058 non-null  object
 20  STATUS1                      37058 non-null  object
 21  STATUS2                      25767 non-null  object
 22  STATUSP                      37058 non-null  object
 23  OUTSTANDING1                 37058 non-null  float64
 24  OUTSTANDING2                 25767 non-null  float64
 25  OUTSTANDINGP                 37058 non-null  float64
 26  LASTBILLEDDATE1              37058 non-null  object
 27  LASTBILLEDDATE2              25767 non-null  object
 28  LASTBILLEDDATEP              37058 non-null  object
 29  HEALTHCARECLAIMTYPEID1       37058 non-null  int64
 30  HEALTHCARECLAIMTYPEID2       37058 non-null  int64
dtypes: float64(11), int64(5), object(15)
memory usage: 8.8+ MB

In [114]:
claims.nunique()

Id                             37058
PATIENTID                        123
PROVIDERID                       285
PRIMARYPATIENTINSURANCEID         10
SECONDARYPATIENTINSURANCEID        2
DEPARTMENTID                      11
PATIENTDEPARTMENTID               11
DIAGNOSIS1                       165
DIAGNOSIS2                       109
DIAGNOSIS3                        37
DIAGNOSIS4                        24
DIAGNOSIS5                        13
DIAGNOSIS6                         5
DIAGNOSIS7                         2
DIAGNOSIS8                         1
REFERRINGPROVIDERID                0
APPOINTMENTID                  21544
CURRENTILLNESSDATE             18639
SERVICEDATE                    20544
SUPERVISINGPROVIDERID            285
STATUS1                            2
STATUS2                            2
STATUSP                            2
OUTSTANDING1                       4
OUTSTANDING2                       3
OUTSTANDINGP                       4
LASTBILLEDDATE1                21034
LASTBILLEDDATE2                16502
LASTBILLEDDATEP                21034
HEALTHCARECLAIMTYPEID1             2
HEALTHCARECLAIMTYPEID2             3
dtype: int64

In [116]:
claims["DEPARTMENTID"].value_counts()

1     13951
2      7180
20     5995
5      4512
10     3113
4      1790
3       369
8        68
7        47
6        31
9         2
Name: DEPARTMENTID, dtype: int64

In [115]:
claims["PATIENTDEPARTMENTID"].value_counts()

1     13951
2      7180
20     5995
5      4512
10     3113
4      1790
3       369
8        68
7        47
6        31
9         2
Name: PATIENTDEPARTMENTID, dtype: int64

In [120]:
display(claims["DIAGNOSIS1"].value_counts())
display(claims["DIAGNOSIS2"].value_counts())
display(claims["DIAGNOSIS3"].value_counts())
display(claims["DIAGNOSIS4"].value_counts())
display(claims["DIAGNOSIS5"].value_counts())
display(claims["DIAGNOSIS6"].value_counts())
display(claims["DIAGNOSIS7"].value_counts())
display(claims["DIAGNOSIS8"].value_counts())

160903007    7739
431857002    4515
410620009    3014
160904001    2426
72892002     2214
             ...
37849005        1
45595009        1
248595008       1
56786000        1
204949001       1
Name: DIAGNOSIS1, Length: 165, dtype: int64

73595000.0     2451
423315002.0     835
422650009.0     767
444814009.0     696
10509002.0      644
               ...
386661006.0       1
47318007.0        1
27942005.0        1
224355006.0       1
47505003.0        1
Name: DIAGNOSIS2, Length: 109, dtype: int64

7.359500e+07    576
7.068930e+08    258
1.609030e+08    174
4.243930e+08    157
4.233150e+08     62
1.093988e+16     56
4.226500e+08     54
8.058301e+07     52
1.609040e+08     44
1.916900e+07     27
2.376020e+08     19
2.669480e+08     18
3.610550e+08     17
7.410620e+08     15
2.717370e+08     14
2.359190e+08     13
1.560730e+08     11
7.031510e+08     10
9.269100e+07      9
9.078100e+13      9
1.270130e+08      8
7.134580e+08      7
1.571410e+14      7
3.599901e+07      6
2.669340e+08      5
2.242990e+08      4
4.466540e+08      4
3.866610e+08      3
5.962100e+07      3
7.343800e+07      3
1.979270e+08      3
7.440001e+07      3
6.778200e+07      3
2.670360e+08      1
2.360770e+08      1
7.958600e+07      1
8.405440e+08      1
Name: DIAGNOSIS3, dtype: int64

7.359500e+07    72
7.068930e+08    55
4.243930e+08    39
1.609030e+08    38
4.233150e+08    26
4.226500e+08    25
1.560730e+08    16
1.093988e+16    14
2.669480e+08    11
1.609040e+08     8
3.599901e+07     7
8.475701e+07     6
1.577700e+07     6
4.145450e+08     5
7.958600e+07     4
8.058301e+07     3
2.669340e+08     2
3.610550e+08     2
3.695501e+07     2
7.410620e+08     2
7.134580e+08     1
8.405440e+08     1
8.405390e+08     1
5.601800e+07     1
Name: DIAGNOSIS4, dtype: int64

7.359500e+07    20
4.243930e+08    16
4.226500e+08    10
1.609030e+08     6
4.233150e+08     4
1.093988e+16     4
3.610550e+08     3
8.058301e+07     3
7.068930e+08     3
8.405440e+08     2
2.669480e+08     1
8.405390e+08     1
3.866610e+08     1
Name: DIAGNOSIS5, dtype: int64

840539006.0    2
36955009.0     1
73595000.0     1
361055000.0    1
424393004.0    1
Name: DIAGNOSIS6, dtype: int64

424393004.0    1
840544004.0    1
Name: DIAGNOSIS7, dtype: int64

840539006.0    1
Name: DIAGNOSIS8, dtype: int64

In [138]:
display(claims["STATUS1"].value_counts())
display(claims["STATUS2"].value_counts())
display(claims["STATUSP"].value_counts())

CLOSED    37036
BILLED       22
Name: STATUS1, dtype: int64

CLOSED    25756
BILLED       11
Name: STATUS2, dtype: int64

CLOSED    37036
BILLED       22
Name: STATUSP, dtype: int64

In [123]:
display(claims["HEALTHCARECLAIMTYPEID1"].value_counts())
display(claims["HEALTHCARECLAIMTYPEID2"].value_counts())

2    19748
1    17310
Name: HEALTHCARECLAIMTYPEID1, dtype: int64

2    15190
0    11291
1    10577
Name: HEALTHCARECLAIMTYPEID2, dtype: int64

In [125]:
claims["PATIENTID"].value_counts()

e201efe2-198e-ceab-0038-41ecd9a68fd0    4282
31651bd8-1a95-3206-41ef-4ccf5b2d0461    2198
a01a1717-7a90-d91c-e78d-5d49ff25ea9a    1911
5d4f915d-9dcd-485c-1dc8-bea871dc2304    1792
8060acde-4b13-976b-c3e1-14f3747cea0a    1594
                                        ...
0b0fefd8-ba9a-b401-5924-8c6ea36a8568       7
3a53517d-9a0f-ec86-1c2b-93f4253194dc       7
350e36b2-6b6b-bcc5-d38d-a29f2ffdbe52       6
ff72f1ac-ddb8-4481-3371-09cdcc48d3fc       4
a652df44-d908-5f1e-0c43-c5af9cf06ab6       3
Name: PATIENTID, Length: 123, dtype: int64

In [126]:
claims["PROVIDERID"].value_counts()

fe746682-d801-38c6-987a-6aad4ad52e38    2629
6b54c36c-45f4-352b-83be-ded03731b268    1719
3755ad24-8618-3658-bb3d-9b4a8a2e6e07    1651
2b6dbfa0-62b3-3f89-a558-6b0aa2f85845    1645
1c02e486-ff0a-3a41-a580-333d65774840    1517
                                        ...
fe6aab2b-31b8-3d5c-b683-6e947e996835       1
0483df8f-d6dd-39ea-b61e-8e0b8b756ce4       1
4e6eaa61-e2ec-3d97-9d83-c1a79373bfef       1
30b4ef3d-ba44-37b8-9790-79d7bc09a2b7       1
e59fc586-26fb-33d0-bddf-dee95ac04a0e       1
Name: PROVIDERID, Length: 285, dtype: int64

In [127]:
claims["PRIMARYPATIENTINSURANCEID"].value_counts()

a735bf55-83e9-331a-899d-a82a60b9f60c    12207
0                                        4669
0133f751-9229-3cfd-815f-b6d4979bdd6a     4278
b046940f-1664-3047-bca7-dfa76be352a4     4208
26aab0cd-6aba-3e1b-ac5b-05c8867e762c     2990
8fa6c185-e44e-3e34-8bd8-39be8694f4ce     2748
df166300-5a78-3502-a46a-832842197811     2517
d31fccc3-1767-390d-966a-22a5156f4219     1954
734afbd6-4794-363b-9bc0-6a3981533ed5     1292
d18ef2e6-ef40-324c-be54-34a5ee865625      195
Name: PRIMARYPATIENTINSURANCEID, dtype: int64

In [128]:
claims["SECONDARYPATIENTINSURANCEID"].value_counts()

0                                       25776
b046940f-1664-3047-bca7-dfa76be352a4    11282
Name: SECONDARYPATIENTINSURANCEID, dtype: int64

In [129]:
claims["REFERRINGPROVIDERID"].value_counts()

Series([], Name: REFERRINGPROVIDERID, dtype: int64)

In [130]:
claims["APPOINTMENTID"].value_counts()

a4402cad-7fd7-6955-8448-e33d097f5291    27
e607b032-863d-10fd-99d3-36a48515a29d    15
fc974ccd-b672-8c17-b671-1a4d881fdba8    15
607e01d9-54c7-6c48-1916-58f9f27c6e99    14
b8285b40-7847-d5a1-af93-77912214a9d4    13
                                        ..
6611de3b-aca6-9c04-631d-074f8961a898     1
aea13243-f2ad-24b2-9476-ff6f03496a4d     1
28a78669-ca3b-126c-eceb-208fd22a7682     1
9010b879-e450-9fcc-97af-c74d3b3948c0     1
bc24a8e0-462c-d224-9d45-84db110cc845     1
Name: APPOINTMENTID, Length: 21544, dtype: int64

In [132]:
claims["SUPERVISINGPROVIDERID"].value_counts()

fe746682-d801-38c6-987a-6aad4ad52e38    2629
6b54c36c-45f4-352b-83be-ded03731b268    1719
3755ad24-8618-3658-bb3d-9b4a8a2e6e07    1651
2b6dbfa0-62b3-3f89-a558-6b0aa2f85845    1645
1c02e486-ff0a-3a41-a580-333d65774840    1517
                                        ...
fe6aab2b-31b8-3d5c-b683-6e947e996835       1
0483df8f-d6dd-39ea-b61e-8e0b8b756ce4       1
4e6eaa61-e2ec-3d97-9d83-c1a79373bfef       1
30b4ef3d-ba44-37b8-9790-79d7bc09a2b7       1
e59fc586-26fb-33d0-bddf-dee95ac04a0e       1
Name: SUPERVISINGPROVIDERID, Length: 285, dtype: int64

In [134]:
display(claims["OUTSTANDING1"].value_counts())
display(claims["OUTSTANDING2"].value_counts())
display(claims["OUTSTANDINGP"].value_counts())

0.00      37042
169.10       11
181.38        3
211.38        2
Name: OUTSTANDING1, dtype: int64

0.00      25762
181.38        3
211.38        2
Name: OUTSTANDING2, dtype: int64

0.00      37038
42.28        11
211.38        6
30.00         3
Name: OUTSTANDINGP, dtype: int64

# Claims Transactions

In [76]:
claims_transactions.head(3)

,ID,CLAIMID,CHARGEID,PATIENTID,TYPE,AMOUNT,METHOD,FROMDATE,TODATE,PLACEOFSERVICE,...,PAYMENTS,ADJUSTMENTS,TRANSFERS,OUTSTANDING,APPOINTMENTID,LINENOTE,PATIENTINSURANCEID,FEESCHEDULEID,PROVIDERID,SUPERVISINGPROVIDERID
0,77b8fd9f-0934-46ed-744e-9b1715f57a80,8901c57e-5aaf-0f7c-394e-c33468c7f2fe,0,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,CHARGE,136.8,NaN,2022-02-17T05:45:41Z,2022-02-17T06:00:41Z,1d45436f-15a9-326e-a452-2e9ffc9fc5e5,...,0.0,0.0,NaN,0.0,cf6058a1-d657-c29c-d424-4801c592eaf8,NaN,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,1,234f5632-2b73-38dd-bb23-a03fff8bc0aa,234f5632-2b73-38dd-bb23-a03fff8bc0aa
1,ef71fb3e-1398-8dda-e89d-362e2c1af500,8901c57e-5aaf-0f7c-394e-c33468c7f2fe,1,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,TRANSFEROUT,NaN,NaN,2022-02-17T05:45:41Z,2022-02-17T06:00:41Z,1d45436f-15a9-326e-a452-2e9ffc9fc5e5,...,0.0,0.0,136.8,136.8,cf6058a1-d657-c29c-d424-4801c592eaf8,NaN,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,1,234f5632-2b73-38dd-bb23-a03fff8bc0aa,234f5632-2b73-38dd-bb23-a03fff8bc0aa
2,dee3f67c-2831-1bb5-d13a-6c5c5b35ea01,8901c57e-5aaf-0f7c-394e-c33468c7f2fe,2,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,TRANSFERIN,136.8,NaN,2022-02-17T05:45:41Z,2022-02-17T06:00:41Z,1d45436f-15a9-326e-a452-2e9ffc9fc5e5,...,0.0,0.0,136.8,136.8,cf6058a1-d657-c29c-d424-4801c592eaf8,NaN,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,1,234f5632-2b73-38dd-bb23-a03fff8bc0aa,234f5632-2b73-38dd-bb23-a03fff8bc0aa

In [77]:
claims_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272113 entries, 0 to 272112
Data columns (total 33 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     272113 non-null  object
 1   CLAIMID                272113 non-null  object
 2   CHARGEID               272113 non-null  int64
 3   PATIENTID              272113 non-null  object
 4   TYPE                   272113 non-null  object
 5   AMOUNT                 127282 non-null  float64
 6   METHOD                 109865 non-null  object
 7   FROMDATE               272113 non-null  object
 8   TODATE                 272113 non-null  object
 9   PLACEOFSERVICE         272113 non-null  object
 10  PROCEDURECODE          272113 non-null  int64
 11  MODIFIER1              0 non-null       float64
 12  MODIFIER2              0 non-null       float64
 13  DIAGNOSISREF1          272113 non-null  int64
 14  DIAGNOSISREF2          74182 non-null   float64
 15  DIAGNOSISREF3          14943 non-null   float64
 16  DIAGNOSISREF4          3259 non-null    float64
 17  UNITS                  272113 non-null  int64
 18  DEPARTMENTID           272113 non-null  int64
 19  NOTES                  272113 non-null  object
 20  UNITAMOUNT             272113 non-null  float64
 21  TRANSFEROUTID          34966 non-null   float64
 22  TRANSFERTYPE           127282 non-null  object
 23  PAYMENTS               272113 non-null  float64
 24  ADJUSTMENTS            272113 non-null  float64
 25  TRANSFERS              69932 non-null   float64
 26  OUTSTANDING            272113 non-null  float64
 27  APPOINTMENTID          272113 non-null  object
 28  LINENOTE               0 non-null       float64
 29  PATIENTINSURANCEID     251073 non-null  object
 30  FEESCHEDULEID          272113 non-null  int64
 31  PROVIDERID             272113 non-null  object
 32  SUPERVISINGPROVIDERID  272113 non-null  object
dtypes: float64(13), int64(6), object(14)
memory usage: 68.5+ MB

In [78]:
claims_transactions.nunique()

ID                       272113
CLAIMID                   37058
CHARGEID                 272113
PATIENTID                   123
TYPE                          4
AMOUNT                    29525
METHOD                        5
FROMDATE                  44071
TODATE                    51791
PLACEOFSERVICE              285
PROCEDURECODE               474
MODIFIER1                     0
MODIFIER2                     0
DIAGNOSISREF1                 1
DIAGNOSISREF2                 1
DIAGNOSISREF3                 1
DIAGNOSISREF4                 1
UNITS                         1
DEPARTMENTID                 11
NOTES                       491
UNITAMOUNT                23752
TRANSFEROUTID             34966
TRANSFERTYPE                  3
PAYMENTS                  28846
ADJUSTMENTS                   1
TRANSFERS                  8380
OUTSTANDING                9198
APPOINTMENTID             21544
LINENOTE                      0
PATIENTINSURANCEID          121
FEESCHEDULEID                 1
PROVIDERID                  285
SUPERVISINGPROVIDERID       285
dtype: int64

In [139]:
claims_transactions["CHARGEID"].value_counts()

2047      1
178690    1
137750    1
131605    1
133652    1
         ..
197578    1
203721    1
201672    1
222150    1
0         1
Name: CHARGEID, Length: 272113, dtype: int64

In [83]:
claims_transactions["TYPE"].value_counts()

PAYMENT        109865
CHARGE          92316
TRANSFERIN      34966
TRANSFEROUT     34966
Name: TYPE, dtype: int64

In [84]:
claims_transactions["METHOD"].value_counts()

ECHECK    63267
COPAY     19059
CHECK      9365
CASH       9145
CC         9029
Name: METHOD, dtype: int64

In [140]:
claims_transactions["PROCEDURECODE"].value_counts()

185347001          17784
710824005          16415
140                15704
430193006          13539
410620009          11616
                   ...
312853008              2
40617009               2
243174005              2
3336700                2
452331000124102        2
Name: PROCEDURECODE, Length: 474, dtype: int64

modifier1 and modifier2 not used

In [142]:
display(claims_transactions["DIAGNOSISREF1"].value_counts())
display(claims_transactions["DIAGNOSISREF2"].value_counts())
display(claims_transactions["DIAGNOSISREF3"].value_counts())

1    272113
Name: DIAGNOSISREF1, dtype: int64

2.0    74182
Name: DIAGNOSISREF2, dtype: int64

3.0    14943
Name: DIAGNOSISREF3, dtype: int64

In [143]:
claims_transactions["UNITS"].value_counts()

1    272113
Name: UNITS, dtype: int64

In [144]:
claims_transactions["DEPARTMENTID"].value_counts()

1     91432
20    54156
2     42706
10    30216
5     29446
4     10363
8      7295
3      3135
6      2844
7       510
9        10
Name: DEPARTMENTID, dtype: int64

In [145]:
claims_transactions["NOTES"].value_counts()

Assessment of health and social care needs (procedure)    16415
Encounter for problem (procedure)                         16284
Influenza  seasonal  injectable  preservative free        15704
Medication Reconciliation (procedure)                     13539
Well child visit (procedure)                              11616
                                                          ...
Piperacillin 4000 MG / tazobactam 500 MG Injection            2
10 ML Fentanyl 0.05 MG/ML Injection                           2
Cardioassist by aortic balloon pump (procedure)               2
Intraoperative care (regime/therapy)                          2
Laparoscopic Removal of Gall Bladder                          2
Name: NOTES, Length: 491, dtype: int64

In [146]:
claims_transactions["UNITAMOUNT"].value_counts()

0.00       198244
431.40      11405
85.55        9038
136.00       6373
142.58       5905
            ...
1316.37         1
3324.43         1
5973.56         1
6798.25         1
715.04          1
Name: UNITAMOUNT, Length: 23752, dtype: int64

In [147]:
claims_transactions["TRANSFEROUTID"].value_counts()

262141.0    1
327784.0    1
327809.0    1
193024.0    1
81951.0     1
           ..
100671.0    1
201344.0    1
201347.0    1
201353.0    1
1.0         1
Name: TRANSFEROUTID, Length: 34966, dtype: int64

In [155]:
claims_transactions["TRANSFERTYPE"].value_counts()

1    81018
p    29095
2    17169
Name: TRANSFERTYPE, dtype: int64

In [154]:
claims_transactions["PAYMENTS"].value_counts()

0.00       162248
30.00       12922
431.40       7640
136.00       5400
55.55        4263
            ...
685.61          1
1389.99         1
51.25           1
5220.44         1
7317.14         1
Name: PAYMENTS, Length: 28846, dtype: int64

In [156]:
claims_transactions["ADJUSTMENTS"].value_counts()

0.0    272113
Name: ADJUSTMENTS, dtype: int64

In [157]:
claims_transactions["TRANSFERS"].value_counts()

86.28     6874
136.00    6050
17.11     4746
106.80    3938
431.40    3482
          ...
80.68        2
459.17       2
179.97       2
94.29        2
596.05       2
Name: TRANSFERS, Length: 8380, dtype: int64

In [150]:
claims_transactions["ADJUSTMENTS"].value_counts()

0.0    272113
Name: ADJUSTMENTS, dtype: int64

In [151]:
claims_transactions["TRANSFERS"].value_counts()

86.28     6874
136.00    6050
17.11     4746
106.80    3938
431.40    3482
          ...
80.68        2
459.17       2
179.97       2
94.29        2
596.05       2
Name: TRANSFERS, Length: 8380, dtype: int64

In [152]:
claims_transactions["OUTSTANDING"].value_counts()

0.00      166185
86.28      10311
55.55       7165
17.11       7119
106.80      6462
           ...
424.30         1
823.78         1
347.03         1
215.79         1
305.31         1
Name: OUTSTANDING, Length: 9198, dtype: int64

In [158]:
claims_transactions["LINENOTE"].value_counts()

Series([], Name: LINENOTE, dtype: int64)

In [159]:
claims_transactions["FEESCHEDULEID"].value_counts()

1    272113
Name: FEESCHEDULEID, dtype: int64

In [81]:
claims_transactions["CLAIMID"].value_counts()

bec86669-40c6-bb5b-9a1f-7403de0a63fc    500
40c9be4a-b796-1cb6-82ed-2df84849a21e    440
83c1599e-18ca-6124-7f5b-d6a9edd3e36f    440
a67ab892-a4b5-b1b8-3cd2-fc63f223b67a    340
6664182f-9874-f2f5-85aa-5ebe6a05b17e    295
                                       ...
b27f7cd1-ba8a-9b35-1038-7b941e319768      2
8a6cfcde-b949-8ee4-57d9-fd316fd9b32a      2
87e45cd8-61bb-395f-1243-3d234242fa92      2
5041b60d-fc15-a480-5c84-3b8fbdff7aa2      2
294179be-7d24-942f-df73-7c09240168d6      2
Name: CLAIMID, Length: 37058, dtype: int64

In [160]:
claims_transactions["CLAIMID"].value_counts()

bec86669-40c6-bb5b-9a1f-7403de0a63fc    500
40c9be4a-b796-1cb6-82ed-2df84849a21e    440
83c1599e-18ca-6124-7f5b-d6a9edd3e36f    440
a67ab892-a4b5-b1b8-3cd2-fc63f223b67a    340
6664182f-9874-f2f5-85aa-5ebe6a05b17e    295
                                       ...
b27f7cd1-ba8a-9b35-1038-7b941e319768      2
8a6cfcde-b949-8ee4-57d9-fd316fd9b32a      2
87e45cd8-61bb-395f-1243-3d234242fa92      2
5041b60d-fc15-a480-5c84-3b8fbdff7aa2      2
294179be-7d24-942f-df73-7c09240168d6      2
Name: CLAIMID, Length: 37058, dtype: int64

In [161]:
claims_transactions["PATIENTID"].value_counts()

e201efe2-198e-ceab-0038-41ecd9a68fd0    27619
31651bd8-1a95-3206-41ef-4ccf5b2d0461    18486
a01a1717-7a90-d91c-e78d-5d49ff25ea9a    12638
8060acde-4b13-976b-c3e1-14f3747cea0a    11556
297a0fc0-6c0b-ff79-1258-33885aeb3eda     7612
                                        ...
3a53517d-9a0f-ec86-1c2b-93f4253194dc       95
350e36b2-6b6b-bcc5-d38d-a29f2ffdbe52       71
0b0fefd8-ba9a-b401-5924-8c6ea36a8568       68
ff72f1ac-ddb8-4481-3371-09cdcc48d3fc       53
a652df44-d908-5f1e-0c43-c5af9cf06ab6       45
Name: PATIENTID, Length: 123, dtype: int64

In [162]:
claims_transactions["PLACEOFSERVICE"].value_counts()

d6600c68-8a26-3a88-86e2-99517365c10a    17252
901c2d40-1ca3-3879-9a20-c663b8adc0a9    11320
1853aeef-5897-326a-80d6-aa4b0459eb6d    11130
497f39dd-280e-3d58-af5b-c5e3a3a09b10    10273
2836d9ac-c6a6-39d1-8f13-fdf0fc8928f4    10193
                                        ...
5c896155-eb9a-383e-9162-a43ebb7f1cc5       10
62b55e5b-b58f-354d-8f2d-f2a330bc619e       10
5862e05c-9533-3f7a-8f73-215d50f5ee2f        5
0ddb0329-b59d-3187-874c-602c649249c8        3
bf556284-7513-3620-a10e-5393183a9a87        3
Name: PLACEOFSERVICE, Length: 285, dtype: int64

In [163]:
claims_transactions["APPOINTMENTID"].value_counts()

48f0d317-3a60-ec00-9b29-82595b7173ff    500
f6319a60-c80c-75fd-e2db-88ae3804eb7b    440
74f2ab69-530b-b03e-a017-1e94c72f93b0    440
a66b787c-876b-3660-1db0-bb00f68b49f1    340
45e20a2c-a0f0-2921-5153-071e73f298f5    295
                                       ...
ed517b43-1f1a-5664-c459-2b5794077e61      2
26804818-7551-3550-7aa5-000c595cccb8      2
10832536-6afd-48bc-757c-c987c6f0e4d2      2
b5a367fd-cde7-c42b-45bc-ab2dc08934c5      2
4ebf60ce-97e8-a894-2f75-32c80f599f56      2
Name: APPOINTMENTID, Length: 21544, dtype: int64

In [164]:
claims_transactions["PATIENTINSURANCEID"].value_counts()

e201efe2-198e-ceab-0038-41ecd9a68fd0    27619
31651bd8-1a95-3206-41ef-4ccf5b2d0461    18486
a01a1717-7a90-d91c-e78d-5d49ff25ea9a    12638
8060acde-4b13-976b-c3e1-14f3747cea0a    11556
297a0fc0-6c0b-ff79-1258-33885aeb3eda     7612
                                        ...
350e36b2-6b6b-bcc5-d38d-a29f2ffdbe52       71
0b0fefd8-ba9a-b401-5924-8c6ea36a8568       68
ff72f1ac-ddb8-4481-3371-09cdcc48d3fc       53
a652df44-d908-5f1e-0c43-c5af9cf06ab6       45
15af745d-f6b7-b26f-d3df-073ce3c830bb       31
Name: PATIENTINSURANCEID, Length: 121, dtype: int64

In [165]:
claims_transactions["PROVIDERID"].value_counts()

fe746682-d801-38c6-987a-6aad4ad52e38    17252
2b6dbfa0-62b3-3f89-a558-6b0aa2f85845    11320
6b54c36c-45f4-352b-83be-ded03731b268    11130
a2149379-aa70-3453-adac-7229b66f45cc    10273
1c02e486-ff0a-3a41-a580-333d65774840    10193
                                        ...
95f64808-8c19-30cd-9911-ed9429f34bf7       10
faa36eae-5bf9-32b3-906f-6cb023c3922a       10
0483df8f-d6dd-39ea-b61e-8e0b8b756ce4        5
247b3987-3966-3674-a89e-666d42802298        3
9defcc02-6ceb-3851-b3a6-948e02d1c13c        3
Name: PROVIDERID, Length: 285, dtype: int64

In [166]:
claims_transactions["SUPERVISINGPROVIDERID"].value_counts()

fe746682-d801-38c6-987a-6aad4ad52e38    17252
2b6dbfa0-62b3-3f89-a558-6b0aa2f85845    11320
6b54c36c-45f4-352b-83be-ded03731b268    11130
a2149379-aa70-3453-adac-7229b66f45cc    10273
1c02e486-ff0a-3a41-a580-333d65774840    10193
                                        ...
95f64808-8c19-30cd-9911-ed9429f34bf7       10
faa36eae-5bf9-32b3-906f-6cb023c3922a       10
0483df8f-d6dd-39ea-b61e-8e0b8b756ce4        5
247b3987-3966-3674-a89e-666d42802298        3
9defcc02-6ceb-3851-b3a6-948e02d1c13c        3
Name: SUPERVISINGPROVIDERID, Length: 285, dtype: int64

# Conditions

In [85]:
conditions.head(3)

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION
0,2022-04-27,2022-05-13,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,102c7a30-2f77-b7ed-ccdb-e41bcc2bbbfd,444814009,Viral sinusitis (disorder)

In [86]:
conditions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9985 entries, 0 to 9984
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START        9985 non-null   object
 1   STOP         8795 non-null   object
 2   PATIENT      9985 non-null   object
 3   ENCOUNTER    9985 non-null   object
 4   CODE         9985 non-null   int64
 5   DESCRIPTION  9985 non-null   object
dtypes: int64(1), object(5)
memory usage: 468.2+ KB

In [87]:
conditions.nunique()

START          5859
STOP           5540
PATIENT         119
ENCOUNTER      6976
CODE            180
DESCRIPTION     180
dtype: int64

In [88]:
conditions["CODE"].value_counts()

160903007         2811
73595000          1121
160904001          865
444814009          573
741062008          382
                  ...
91861009             1
97331000119101       1
67782005             1
56018004             1
236077008            1
Name: CODE, Length: 180, dtype: int64

In [89]:
conditions["DESCRIPTION"].value_counts()

Full-time employment (finding)                                              2811
Stress (finding)                                                            1121
Part-time employment (finding)                                               865
Viral sinusitis (disorder)                                                   573
Not in labor force (finding)                                                 382
                                                                            ...
Macular edema and retinopathy due to type 2 diabetes mellitus (disorder)       1
Familial Alzheimer's disease of early onset (disorder)                         1
Fibromyalgia (disorder)                                                        1
Recurrent urinary tract infection                                              1
Dyspnea (finding)                                                              1
Name: DESCRIPTION, Length: 180, dtype: int64

In [90]:
conditions["PATIENT"].value_counts()

e201efe2-198e-ceab-0038-41ecd9a68fd0    844
31651bd8-1a95-3206-41ef-4ccf5b2d0461    742
babe5c65-9bb5-3dde-315b-138110b8d664    344
a01a1717-7a90-d91c-e78d-5d49ff25ea9a    273
46e19014-2a0c-fa75-c393-c98bcb3f08b7    270
                                       ...
9ce6cc92-61a2-3cf9-5c61-1577aba2fda9      2
3c2401c2-7d08-5c22-eb55-733f19ac556d      2
f78e216e-9993-3fe5-4c67-6272f6e0b151      1
0b0fefd8-ba9a-b401-5924-8c6ea36a8568      1
644fe902-1b95-0f00-5764-558dcc52a86f      1
Name: PATIENT, Length: 119, dtype: int64

In [91]:
conditions["ENCOUNTER"].value_counts()

084fc97f-e1c1-1b34-7796-d8378c5fd6bc    8
313d66a6-4a9c-9b9f-d875-46d00a6cd717    7
f5351627-bf5c-ac64-26f4-bf67c36a5ad5    6
2d3063bb-e231-4b95-154e-50c6e01d85e6    6
6ee82f47-fe5b-3121-f7f9-6fb42c69423b    6
                                       ..
e5dc69ac-18c2-d9e7-bf4e-9f8df7813a65    1
5f0a786b-befe-57a8-ce50-7f7b3ce8d634    1
e25c7fc8-5065-81de-b486-9c9fe12d6305    1
875bee68-17ff-62b3-ef59-6bed6386bd51    1
32c9387c-ef02-29cc-3037-b3c9d34cbf2a    1
Name: ENCOUNTER, Length: 6976, dtype: int64

# Devices

In [92]:
devices.head(3)

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,UDI
0,1996-06-20T11:06:07Z,1996-07-18T11:06:07Z,d0f42c19-94b4-964d-b7d8-d087fe220e78,d254222e-2e5a-0c9f-8f34-05eb2ae23761,228869008,Manual wheelchair (physical object),(01)31886423523947(11)960530(17)210614(10)1582...
1,1998-03-27T13:21:23Z,1998-03-31T13:21:23Z,f63b81f3-2aab-fe60-7c85-92a9a5eff526,05611bdb-84c8-cbb3-f8a1-924586acf5bf,228869008,Manual wheelchair (physical object),(01)86751835624889(11)980306(17)230321(10)1539...
2,1984-05-22T21:02:50Z,NaN,41ac485e-8346-259b-1661-a73de3413401,c65c692d-a36a-6d16-a2cb-d60c18ebda9d,170615005,Home nebulizer (physical object),(01)28275392634423(11)840501(17)090516(10)5847...

In [93]:
devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 338 entries, 0 to 337
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START        338 non-null    object
 1   STOP         214 non-null    object
 2   PATIENT      338 non-null    object
 3   ENCOUNTER    338 non-null    object
 4   CODE         338 non-null    int64
 5   DESCRIPTION  338 non-null    object
 6   UDI          338 non-null    object
dtypes: int64(1), object(6)
memory usage: 18.6+ KB

In [94]:
devices.nunique()

START          257
STOP           151
PATIENT         86
ENCOUNTER      252
CODE            19
DESCRIPTION     19
UDI            338
dtype: int64

In [96]:
devices["CODE"].value_counts()

228869008    83
337414009    57
706180003    45
702172008    45
170615005    33
705417005    15
91537007     14
336621006     7
701077002     7
701100002     7
360008003     4
705406009     4
363753007     4
706112002     4
261323006     3
705427004     3
129113006     1
720253003     1
464173000     1
Name: CODE, dtype: int64

In [97]:
devices["DESCRIPTION"].value_counts()

Manual wheelchair (physical object)                                83
Blood glucose meter (physical object)                              57
Respiratory humidifier (physical object)                           45
Home continuous positive airway pressure unit (physical object)    45
Home nebulizer (physical object)                                   33
Wheelchair accessory (physical object)                             15
Hospital bed  device (physical object)                             14
Oxygen concentrator (physical object)                               7
Respiratory apnea monitoring system (physical object)               7
Polysomnography analyzer (physical object)                          7
Patient lifting system (physical object)                            4
Walker (physical object)                                            4
Commode (physical object)                                           4
Crutches (physical object)                                          4
Portable oxygen cylinder (physical object)                          3
Power-assisted wheelchair (physical object)                         3
Portable oxygen concentrator (physical object)                      1
Home-use sleep apnea recording system (physical object)             1
Intra-aortic balloon pump  device (physical object)                 1
Name: DESCRIPTION, dtype: int64

In [98]:
devices["UDI"].value_counts()

(01)64230828090118(11)341117(17)591202(10)30121077624759(21)38114216821           1
(01)91911136600240(11)991121(17)241205(10)42010733(21)7763                        1
(01)19704316007213(11)070220(17)320306(10)1193598617738427(21)7342451355          1
(01)48271794720610(11)891204(17)141219(10)896059(21)7515536262                    1
(01)60775293523878(11)751113(17)001126(10)189399707221359(21)82427943271213127    1
                                                                                 ..
(01)56031851442607(11)491004(17)741019(10)9195398(21)295176175031                 1
(01)50969278945057(11)820416(17)070501(10)1130091(21)36786844072463               1
(01)26015666613333(11)151002(17)401016(10)5385092(21)87568051939451520            1
(01)17635926490267(11)960202(17)210216(10)23446903(21)4006835640831               1
(01)11029184332404(11)491004(17)741019(10)67735009121(21)57698162667              1
Name: UDI, Length: 338, dtype: int64

In [99]:
devices["PATIENT"].value_counts()

49093d47-3c84-611c-ec79-68a5413087e7    25
d7058686-b43c-93d9-fb3d-0571af023de6    21
b97f0438-4385-fb63-db1a-d549d09eb89c    19
abe9c763-59b6-43a9-7ddd-07c9433a112c    19
297a0fc0-6c0b-ff79-1258-33885aeb3eda    16
                                        ..
8c836a07-7176-6f01-5815-3b38e9dcc8b7     1
d0f42c19-94b4-964d-b7d8-d087fe220e78     1
dd535356-a2d7-5947-e93b-c579bd88bacb     1
62651681-3c65-c1b7-d0c9-37be11620a93     1
312a4755-281e-817c-e7f5-114d137404b4     1
Name: PATIENT, Length: 86, dtype: int64

In [100]:
devices["ENCOUNTER"].value_counts()

700e0d73-8801-ad05-f68f-02b3a144071d    4
40eb561b-60f0-c8f8-4d2d-11e7b5e0a2bd    4
ad1c7550-c8ee-ebdc-ebad-0ee115d452b1    4
1e2d5893-aac6-1fbf-4a25-2f040c43789d    4
9b4e62fb-cddf-debf-3b32-9c5b909dffdd    4
                                       ..
c17670e6-5e8e-c605-dd07-2db32d576e3c    1
308654bf-3afc-9c49-bcb1-bc99efb3a912    1
e9060c0c-af26-d142-a84a-7f7651db5082    1
80ea794c-38d6-874c-31ac-c68c1198e26b    1
bf6f9d63-78ba-6fed-5679-7829edd175a4    1
Name: ENCOUNTER, Length: 252, dtype: int64

# Encounters

In [167]:
encounters.head(3)

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,cf6058a1-d657-c29c-d424-4801c592eaf8,2022-02-17T05:45:41Z,2022-02-17T06:00:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,1d45436f-15a9-326e-a452-2e9ffc9fc5e5,234f5632-2b73-38dd-bb23-a03fff8bc0aa,d31fccc3-1767-390d-966a-22a5156f4219,wellness,410620009,Well child visit (procedure),136.8,841.00,0.00,NaN,NaN
1,9f4685e7-0424-aabe-bcaa-b2cf98bf5b0e,2022-03-24T05:45:41Z,2022-03-24T06:00:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,1d45436f-15a9-326e-a452-2e9ffc9fc5e5,234f5632-2b73-38dd-bb23-a03fff8bc0aa,d31fccc3-1767-390d-966a-22a5156f4219,wellness,410620009,Well child visit (procedure),136.8,844.83,41.83,NaN,NaN
2,6b9fd2cd-bc11-2f9c-d223-d57310b12ef8,2015-12-07T08:29:09Z,2015-12-07T08:44:09Z,e21a6d28-3d43-24eb-72cd-02393a4e38a4,edd58f69-ad5f-346b-b1f9-530ccdc895f6,c089f225-1997-3fc4-9116-fe17bc33118f,0133f751-9229-3cfd-815f-b6d4979bdd6a,wellness,410620009,Well child visit (procedure),136.8,847.41,0.00,NaN,NaN

In [168]:
encounters.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21544 entries, 0 to 21543
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   21544 non-null  object
 1   START                21544 non-null  object
 2   STOP                 21544 non-null  object
 3   PATIENT              21544 non-null  object
 4   ORGANIZATION         21544 non-null  object
 5   PROVIDER             21544 non-null  object
 6   PAYER                21544 non-null  object
 7   ENCOUNTERCLASS       21544 non-null  object
 8   CODE                 21544 non-null  int64
 9   DESCRIPTION          21544 non-null  object
 10  BASE_ENCOUNTER_COST  21544 non-null  float64
 11  TOTAL_CLAIM_COST     21544 non-null  float64
 12  PAYER_COVERAGE       21544 non-null  float64
 13  REASONCODE           9692 non-null   float64
 14  REASONDESCRIPTION    9692 non-null   object
dtypes: float64(4), int64(1), object(10)
memory usage: 2.5+ MB

In [169]:
encounters.nunique()

Id                     21544
START                  20544
STOP                   21031
PATIENT                  123
ORGANIZATION             285
PROVIDER                 285
PAYER                     10
ENCOUNTERCLASS            10
CODE                      49
DESCRIPTION               56
BASE_ENCOUNTER_COST        9
TOTAL_CLAIM_COST       11934
PAYER_COVERAGE          9318
REASONCODE                93
REASONDESCRIPTION         93
dtype: int64

In [170]:
encounters["ENCOUNTERCLASS"].value_counts()

ambulatory    10753
wellness       5393
outpatient     2892
urgentcare     1298
emergency       903
inpatient       157
snf              68
home             47
hospice          31
virtual           2
Name: ENCOUNTERCLASS, dtype: int64

In [171]:
encounters["CODE"].value_counts()

185347001          5191
410620009          2935
162673000          2436
185349003          1838
185345009          1693
424619006          1687
702927004          1296
308335008           691
50849002            618
371883000           589
698314001           518
424441002           316
390906007           273
183460006           191
169762003           190
448337001           167
394701000           134
33879002            119
439740005            73
270427003            71
449411000124106      68
210098006            56
56876005             49
439708006            47
182813001            40
305336008            31
183478001            28
305408004            27
308646001            22
410410006            18
310061009            18
183452005            16
32485007             15
170837001            12
183495009            11
170838006             9
305432006             9
305342007             9
397821002             8
316744009             6
305351004             6
305411003             3
223484005             2
86013001              2
79094001              2
185317003             1
4525004               1
185389009             1
47505003              1
Name: CODE, dtype: int64

In [172]:
encounters["DESCRIPTION"].value_counts()

Encounter for problem (procedure)                                         4786
Well child visit (procedure)                                              2935
General examination of patient (procedure)                                2436
Prenatal visit                                                            1687
Encounter for symptom                                                     1671
Encounter for check up (procedure)                                        1555
Urgent care clinic (environment)                                          1296
Emergency room admission (procedure)                                       618
Outpatient procedure                                                       589
Patient encounter procedure                                                521
Consultation for treatment                                                 518
Encounter for problem                                                      395
Prenatal initial visit                                                     316
Encounter for check up                                                     283
Obstetric emergency hospital admission                                     191
Postnatal visit                                                            190
Patient encounter procedure (procedure)                                    170
Telemedicine consultation with patient                                     167
Follow-up encounter (procedure)                                            146
Asthma follow-up                                                           134
Follow-up encounter                                                        127
Administration of vaccine to produce active immunity (procedure)           119
Postoperative follow-up visit (procedure)                                   73
Patient-initiated encounter                                                 71
Admission to skilled nursing facility (procedure)                           68
Domiciliary or rest home patient evaluation and management                  56
Drug rehabilitation and detoxification                                      49
Home visit (procedure)                                                      47
Emergency treatment (procedure)                                             40
Admission to hospice (procedure)                                            31
Emergency hospital admission for asthma                                     28
Admission to surgical department                                            27
Encounter for symptom (procedure)                                           22
Death Certification                                                         22
Gynecology service (qualifier value)                                        18
Screening surveillance (regime/therapy)                                     18
Emergency hospital admission (procedure)                                    16
Hospital admission (procedure)                                              15
Allergic disorder initial assessment                                        12
Non-urgent orthopedic admission                                             11
Encounter for Problem                                                       10
Allergic disorder follow-up assessment                                       9
Admission to surgical transplant department (procedure)                      9
Admission to ward (procedure)                                                8
Patient transfer to intensive care unit (procedure)                          8
Admission to intensive care unit (procedure)                                 6
Office Visit                                                                 6
Admission to thoracic surgery department                                     3
Discussion about treatment (procedure)                                       2
Initial Psychiatric Interview with mental status evaluation                  2
Periodic reevaluation and management of healthy individual (procedure)       2
Follow-up visit (procedure)                                                  1
posttraumatic stress disorder                                                1
Admission to ward (procedure                                                 1
Emergency department patient visit (procedure)                               1
Telephone encounter (procedure)                                              1
Name: DESCRIPTION, dtype: int64

In [174]:
encounters["BASE_ENCOUNTER_COST"].value_counts()

85.55     9038
142.58    5905
136.80    5393
146.18    1010
110.92      68
87.71       50
128.53      47
137.53      31
75.00        2
Name: BASE_ENCOUNTER_COST, dtype: int64

In [175]:
encounters["TOTAL_CLAIM_COST"].value_counts()

85.55      1724
142.58      805
234.71      699
516.95      578
704.20      506
           ...
780.43        1
815.57        1
1233.48       1
9038.00       1
3058.89       1
Name: TOTAL_CLAIM_COST, Length: 11934, dtype: int64

In [176]:
encounters["PAYER_COVERAGE"].value_counts()

0.00        7417
55.55        366
187.76       310
466.95       266
697.82       264
            ...
827.67         1
1329.77        1
662.56         1
14668.98       1
14252.64       1
Name: PAYER_COVERAGE, Length: 9318, dtype: int64

In [177]:
encounters["REASONCODE"].value_counts()

431857002.0    2696
72892002.0     2212
46177005.0     1011
444814009.0     573
6525002.0       538
               ...
403192003.0       1
45595009.0        1
95281009.0        1
230690007.0       1
69896004.0        1
Name: REASONCODE, Length: 93, dtype: int64

In [178]:
encounters["REASONDESCRIPTION"].value_counts()

Chronic kidney disease stage 4 (disorder)     2696
Normal pregnancy                              2212
End-stage renal disease (disorder)            1011
Viral sinusitis (disorder)                     573
Dependent drug abuse (disorder)                538
                                              ...
Congenital uterine anomaly                       1
Pulmonic valve stenosis (disorder)               1
Acute Cholecystitis                              1
Bleeding from anus                               1
Acute myeloid leukemia  disease (disorder)       1
Name: REASONDESCRIPTION, Length: 93, dtype: int64

In [180]:
encounters["PATIENT"].value_counts()

e201efe2-198e-ceab-0038-41ecd9a68fd0    1051
5d4f915d-9dcd-485c-1dc8-bea871dc2304     971
31651bd8-1a95-3206-41ef-4ccf5b2d0461     832
8060acde-4b13-976b-c3e1-14f3747cea0a     767
41ac485e-8346-259b-1661-a73de3413401     765
                                        ...
0b0fefd8-ba9a-b401-5924-8c6ea36a8568       7
3a53517d-9a0f-ec86-1c2b-93f4253194dc       7
350e36b2-6b6b-bcc5-d38d-a29f2ffdbe52       6
ff72f1ac-ddb8-4481-3371-09cdcc48d3fc       4
a652df44-d908-5f1e-0c43-c5af9cf06ab6       3
Name: PATIENT, Length: 123, dtype: int64

In [181]:
encounters["ORGANIZATION"].value_counts()

2836d9ac-c6a6-39d1-8f13-fdf0fc8928f4    1088
0fab3c4e-a028-39a6-b15a-be5a88b6aa2a     979
b6eeaaf7-1683-3bcb-b6ee-81ce304636ef     850
901c2d40-1ca3-3879-9a20-c663b8adc0a9     837
63cb4d95-04a9-3a35-b5d9-f89e0377a48d     785
                                        ...
bf556284-7513-3620-a10e-5393183a9a87       1
eed72b73-31ec-3f0a-9ec4-cee4ea7da02a       1
a7b047dd-186a-32de-8187-b0853c05aed6       1
4f27686f-c8aa-3dd8-b272-f98bb903b3d7       1
cce87420-edd2-3473-9d82-5633f05186a7       1
Name: ORGANIZATION, Length: 285, dtype: int64

In [182]:
encounters["PROVIDER"].value_counts()

1c02e486-ff0a-3a41-a580-333d65774840    1088
3755ad24-8618-3658-bb3d-9b4a8a2e6e07     979
cdece237-f126-348c-bc69-0bf79f44ab65     850
2b6dbfa0-62b3-3f89-a558-6b0aa2f85845     837
810df6a3-04a0-3b52-bc72-e4512c7b1aeb     785
                                        ...
018999d1-27c6-397b-a466-41c40c544e90       1
5b087628-9198-3471-b31d-e0aca1e4e2da       1
4e6eaa61-e2ec-3d97-9d83-c1a79373bfef       1
faa36eae-5bf9-32b3-906f-6cb023c3922a       1
0483df8f-d6dd-39ea-b61e-8e0b8b756ce4       1
Name: PROVIDER, Length: 285, dtype: int64

In [183]:
encounters["PAYER"].value_counts()

a735bf55-83e9-331a-899d-a82a60b9f60c    4899
b046940f-1664-3047-bca7-dfa76be352a4    3210
b1c428d6-4f07-31e0-90f0-68ffa6ff8c76    3112
0133f751-9229-3cfd-815f-b6d4979bdd6a    2660
df166300-5a78-3502-a46a-832842197811    2028
26aab0cd-6aba-3e1b-ac5b-05c8867e762c    1719
8fa6c185-e44e-3e34-8bd8-39be8694f4ce    1718
d31fccc3-1767-390d-966a-22a5156f4219    1415
734afbd6-4794-363b-9bc0-6a3981533ed5     638
d18ef2e6-ef40-324c-be54-34a5ee865625     145
Name: PAYER, dtype: int64

# Imaging Studies

In [286]:
imaging_studies.head(3)

,Id,DATE,PATIENT,ENCOUNTER,SERIES_UID,BODYSITE_CODE,BODYSITE_DESCRIPTION,MODALITY_CODE,MODALITY_DESCRIPTION,INSTANCE_UID,SOP_CODE,SOP_DESCRIPTION,PROCEDURE_CODE
0,a3d2787f-8380-0a84-2da4-d3ace77076aa,2012-10-23T16:13:24Z,f3b8472a-44ad-23b1-8132-b096033d2e41,9b9a6f2b-1227-4820-844a-0fb53e0fb4b3,1.2.840.99999999.1.55756415.1351008804140,51299004,Clavicle,DX,Digital Radiography,1.2.840.99999999.1.1.83675629.1351008804140,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage,168594001
1,3c7ef438-a701-1bc1-f8b3-1d1686177228,1984-10-17T12:51:39Z,f63b81f3-2aab-fe60-7c85-92a9a5eff526,85ab52a9-94ed-3d36-88e5-c24dd1cf9f33,1.2.840.99999999.1.87896124.466865499433,40983000,Structure of upper extremity between shoulder ...,DX,Digital Radiography,1.2.840.99999999.1.1.12389210.466865499433,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage,1225002
2,ea864c41-2077-f5fc-10e2-09774c95f367,2016-02-13T18:11:24Z,f3b8472a-44ad-23b1-8132-b096033d2e41,1a1606a0-a594-a799-ea5e-8d816823d8d2,1.2.840.99999999.1.51184385.1455387084140,40983000,Structure of upper extremity between shoulder ...,DX,Digital Radiography,1.2.840.99999999.1.1.20329739.1455387084140,1.2.840.10008.5.1.4.1.1.1.1,Digital X-Ray Image Storage,1225002

In [187]:
imaging_studies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    167 non-null    object
 1   DATE                  167 non-null    object
 2   PATIENT               167 non-null    object
 3   ENCOUNTER             167 non-null    object
 4   SERIES_UID            167 non-null    object
 5   BODYSITE_CODE         167 non-null    int64
 6   BODYSITE_DESCRIPTION  167 non-null    object
 7   MODALITY_CODE         167 non-null    object
 8   MODALITY_DESCRIPTION  167 non-null    object
 9   INSTANCE_UID          167 non-null    object
 10  SOP_CODE              167 non-null    object
 11  SOP_DESCRIPTION       167 non-null    object
 12  PROCEDURE_CODE        167 non-null    int64
dtypes: int64(2), object(11)
memory usage: 17.1+ KB

In [188]:
imaging_studies.nunique()

Id                      167
DATE                    157
PATIENT                  66
ENCOUNTER               132
SERIES_UID              167
BODYSITE_CODE            10
BODYSITE_DESCRIPTION     11
MODALITY_CODE             4
MODALITY_DESCRIPTION      4
INSTANCE_UID            167
SOP_CODE                  4
SOP_DESCRIPTION           5
PROCEDURE_CODE           11
dtype: int64

In [189]:
imaging_studies["SERIES_UID"].value_counts()

1.2.840.99999999.1.34781504.590947428334     1
1.2.840.99999999.1.77324080.1581348581767    1
1.2.840.99999999.1.63513135.502371139311     1
1.2.840.99999999.1.27959845.1150863412513    1
1.2.840.99999999.1.13564008.1064505939798    1
                                            ..
1.2.840.99999999.1.74237549.309595648122     1
1.2.840.99999999.1.91322507.419464946089     1
1.2.840.99999999.1.34508531.1533958220875    1
1.2.840.99999999.1.96711101.1036229924066    1
1.2.840.99999999.1.55864334.1163334838328    1
Name: SERIES_UID, Length: 167, dtype: int64

In [190]:
imaging_studies["BODYSITE_CODE"].value_counts()

51185008     58
51299004     24
80891009     20
8205005      19
40983000     16
344001       15
72696002     10
12921003      3
50519007      1
732167000     1
Name: BODYSITE_CODE, dtype: int64

In [191]:
imaging_studies["BODYSITE_DESCRIPTION"].value_counts()

Thoracic structure (body structure)                                         48
Clavicle                                                                    24
Heart structure (body structure)                                            20
Wrist                                                                       19
Structure of upper extremity between shoulder and elbow (body structure)    16
Ankle                                                                       15
Knee                                                                        10
Chest                                                                       10
Pelvis                                                                       3
Structure of right upper quadrant of abdomen                                 1
Entire chest and abdomen and pelvis (body structure)                         1
Name: BODYSITE_DESCRIPTION, dtype: int64

In [192]:
imaging_studies["MODALITY_CODE"].value_counts()

DX    97
CR    48
US    21
CT     1
Name: MODALITY_CODE, dtype: int64

In [193]:
imaging_studies["MODALITY_DESCRIPTION"].value_counts()

Digital Radiography     97
Computed Radiography    48
Ultrasound              21
Computed Tomography      1
Name: MODALITY_DESCRIPTION, dtype: int64

In [194]:
imaging_studies["INSTANCE_UID"].value_counts()

1.2.840.99999999.1.1.71346559.1315369060328    1
1.2.840.99999999.1.1.22222835.706074025402     1
1.2.840.99999999.1.1.33969554.1306899293182    1
1.2.840.99999999.1.1.38940568.467380216516     1
1.2.840.99999999.1.1.20783954.1203943045484    1
                                              ..
1.2.840.99999999.1.1.47877512.1064505939798    1
1.2.840.99999999.1.1.52920800.371551971818     1
1.2.840.99999999.1.1.11710545.372886209818     1
1.2.840.99999999.1.1.77235190.1183802972328    1
1.2.840.99999999.1.1.76406602.371551971818     1
Name: INSTANCE_UID, Length: 167, dtype: int64

In [195]:
imaging_studies["SOP_CODE"].value_counts()

1.2.840.10008.5.1.4.1.1.1.1    145
1.2.840.10008.5.1.4.1.1.3.1     20
1.2.840.10008.5.1.4.1.1.6.1      1
1.2.840.10008.5.1.4.1.1.2        1
Name: SOP_CODE, dtype: int64

In [196]:
imaging_studies["SOP_DESCRIPTION"].value_counts()

Digital X-Ray Image Storage                       97
Digital X-Ray Image Storage – for Presentation    48
Ultrasound Multiframe Image Storage               20
Ultrasound Image Storage                           1
CT Image Storage                                   1
Name: SOP_DESCRIPTION, dtype: int64

In [197]:
imaging_studies["PROCEDURE_CODE"].value_counts()

399208008          58
168594001          24
60027007           19
1225002            16
19490002           15
40701008           15
74016001           10
433236007           5
268425006           3
418023006           1
426701000119108     1
Name: PROCEDURE_CODE, dtype: int64

In [198]:
imaging_studies["PATIENT"].value_counts()

f4fa21a0-3541-07c7-7dea-fa612331b720    25
fecd2d03-047c-1b75-e989-0bb36b97a64c    10
3fff86e4-9e89-55fe-1824-6b63bab8fe6f     8
b23e97e4-4c1e-3d32-0fa4-68b8235f79a9     7
31651bd8-1a95-3206-41ef-4ccf5b2d0461     5
                                        ..
98fef4b2-f9c8-91f8-b526-09b9765e0ae1     1
b9003acd-736d-bb16-359f-f5b56a2ca9ff     1
82f7f043-7a8d-87cb-6189-20ee1a6cb5eb     1
d926d4d1-dfaa-0f08-42b8-e41b2c12f680     1
b97f0438-4385-fb63-db1a-d549d09eb89c     1
Name: PATIENT, Length: 66, dtype: int64

In [199]:
imaging_studies["ENCOUNTER"].value_counts()

aa22000e-5867-50d7-c65a-4474da8945d5    10
2036ef64-611b-3af8-bb84-720fae800e45     7
c395350c-6962-ee2f-e84c-2ef582508806     5
ac3fb44c-faf0-509a-d9cb-4151b629fb67     4
d19e1977-28af-08d4-192a-ae5b701be053     2
                                        ..
110ebe42-8147-53ca-034e-71dc45fb0fdb     1
7b18c083-794d-4b48-780b-95493f59044a     1
65311551-4a2a-225d-afe0-2f074d417c6f     1
47df31dd-4ac5-b3a3-6431-3f092240fb8a     1
d536577d-9f0b-b581-1107-59986ef00b5d     1
Name: ENCOUNTER, Length: 132, dtype: int64

# Immunizations

In [105]:
immunizations.head(3)

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST
0,2022-02-17T05:45:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,cf6058a1-d657-c29c-d424-4801c592eaf8,8,Hep B adolescent or pediatric,136.0
1,2022-03-24T05:45:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,9f4685e7-0424-aabe-bcaa-b2cf98bf5b0e,8,Hep B adolescent or pediatric,136.0
2,2015-12-07T08:29:09Z,e21a6d28-3d43-24eb-72cd-02393a4e38a4,6b9fd2cd-bc11-2f9c-d223-d57310b12ef8,8,Hep B adolescent or pediatric,136.0

In [106]:
immunizations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6373 entries, 0 to 6372
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         6373 non-null   object
 1   PATIENT      6373 non-null   object
 2   ENCOUNTER    6373 non-null   object
 3   CODE         6373 non-null   int64
 4   DESCRIPTION  6373 non-null   object
 5   BASE_COST    6373 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 298.9+ KB

In [107]:
immunizations.nunique()

DATE           4450
PATIENT         123
ENCOUNTER      4898
CODE             21
DESCRIPTION      21
BASE_COST         1
dtype: int64

In [108]:
immunizations["CODE"].value_counts()

140    4298
10      367
113     226
49      176
20      175
8       159
3       131
43       99
21       96
133      88
52       76
114      73
207      70
83       69
62       64
121      56
119      52
208      50
33       22
115      22
212       4
Name: CODE, dtype: int64

In [184]:
immunizations["DESCRIPTION"].value_counts()

Influenza  seasonal  injectable  preservative free                                                                  4298
IPV                                                                                                                  367
Td (adult)  5 Lf tetanus toxoid  preservative free  adsorbed                                                         226
Hib (PRP-OMP)                                                                                                        176
DTaP                                                                                                                 175
Hep B  adolescent or pediatric                                                                                       159
MMR                                                                                                                  131
Hep B  adult                                                                                                          99
varicella                                                                                                             96
Pneumococcal conjugate PCV 13                                                                                         88
Hep A  adult                                                                                                          76
meningococcal MCV4P                                                                                                   73
SARS-COV-2 (COVID-19) vaccine  mRNA  spike protein  LNP  preservative free  100 mcg/0.5mL dose                        70
Hep A  ped/adol  2 dose                                                                                               69
HPV  quadrivalent                                                                                                     64
zoster vaccine  live                                                                                                  56
rotavirus  monovalent                                                                                                 52
SARS-COV-2 (COVID-19) vaccine  mRNA  spike protein  LNP  preservative free  30 mcg/0.3mL dose                         50
Tdap                                                                                                                  22
pneumococcal polysaccharide vaccine  23 valent                                                                        22
SARS-COV-2 (COVID-19) vaccine  vector non-replicating  recombinant spike protein-Ad26  preservative free  0.5 mL       4
Name: DESCRIPTION, dtype: int64

In [186]:
immunizations["BASE_COST"].value_counts()

136.0    6373
Name: BASE_COST, dtype: int64

In [110]:
immunizations["PATIENT"].value_counts()

a01a1717-7a90-d91c-e78d-5d49ff25ea9a    84
8060acde-4b13-976b-c3e1-14f3747cea0a    84
0dcef9a1-f9d7-cc03-92a1-694757261ce2    80
d7058686-b43c-93d9-fb3d-0571af023de6    77
babe5c65-9bb5-3dde-315b-138110b8d664    76
                                        ..
0b0fefd8-ba9a-b401-5924-8c6ea36a8568    17
ff72f1ac-ddb8-4481-3371-09cdcc48d3fc    12
18c45bb2-9c6d-ace0-41cf-faa2c1707241    11
a652df44-d908-5f1e-0c43-c5af9cf06ab6     7
eaba1ed7-98cc-a997-ffa6-9d572ae50b69     3
Name: PATIENT, Length: 123, dtype: int64

In [111]:
immunizations["ENCOUNTER"].value_counts()

8f857f6d-6155-4130-0911-35283c6d9133    6
34c86c84-f366-2a28-b732-ce99895eed9e    5
447acb89-512c-a05d-1ca6-f9937854dec3    5
7ffbfaa9-265b-ab1c-0ab6-0cbd43275eb6    5
5b354311-ae3a-f2ef-890c-24775a6fec11    5
                                       ..
04d07c7f-9725-528d-a5d6-02c25a1daa18    1
6e9c2fd9-17e9-e805-cf1c-171b6fea91fd    1
045a282a-cd43-2973-7eef-ebc0331482f9    1
12e1813f-5342-438e-32d1-d46f924c9653    1
071ef8f0-e8b8-1c87-4faa-c7c57e7cc8ed    1
Name: ENCOUNTER, Length: 4898, dtype: int64

# Medications

In [28]:
medications.head(3)

,START,STOP,PATIENT,PAYER,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,PAYER_COVERAGE,DISPENSES,TOTALCOST,REASONCODE,REASONDESCRIPTION
0,2018-10-22T08:29:09Z,2018-11-05T08:29:09Z,e21a6d28-3d43-24eb-72cd-02393a4e38a4,0133f751-9229-3cfd-815f-b6d4979bdd6a,80f95516-2b94-4289-ff84-c7f5ef13168b,308192,Amoxicillin 500 MG Oral Tablet,186.84,0.0,1,186.84,NaN,NaN
1,2018-10-22T08:29:09Z,2018-11-05T08:29:09Z,e21a6d28-3d43-24eb-72cd-02393a4e38a4,0133f751-9229-3cfd-815f-b6d4979bdd6a,80f95516-2b94-4289-ff84-c7f5ef13168b,198405,Ibuprofen 100 MG Oral Tablet,148.86,0.0,1,148.86,NaN,NaN
2,2020-11-01T08:29:09Z,2020-11-15T08:29:09Z,e21a6d28-3d43-24eb-72cd-02393a4e38a4,0133f751-9229-3cfd-815f-b6d4979bdd6a,da55f12d-777c-77e6-beff-12bc067d52b0,308192,Amoxicillin 500 MG Oral Tablet,189.33,0.0,1,189.33,NaN,NaN

In [22]:
medications.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15514 entries, 0 to 15513
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   START              15514 non-null  object
 1   STOP               15146 non-null  object
 2   PATIENT            15514 non-null  object
 3   PAYER              15514 non-null  object
 4   ENCOUNTER          15514 non-null  object
 5   CODE               15514 non-null  int64
 6   DESCRIPTION        15514 non-null  object
 7   BASE_COST          15514 non-null  float64
 8   PAYER_COVERAGE     15514 non-null  float64
 9   DISPENSES          15514 non-null  int64
 10  TOTALCOST          15514 non-null  float64
 11  REASONCODE         13732 non-null  float64
 12  REASONDESCRIPTION  13732 non-null  object
dtypes: float64(4), int64(2), object(7)
memory usage: 1.5+ MB

In [26]:
medications.nunique()

START                8361
STOP                 8201
PATIENT               116
PAYER                  10
ENCOUNTER            8295
CODE                  162
DESCRIPTION           166
BASE_COST            5333
PAYER_COVERAGE       3502
DISPENSES             104
TOTALCOST            5603
REASONCODE             37
REASONDESCRIPTION      37
dtype: int64

In [27]:
medications["CODE"].value_counts()

314076     2217
310798     2179
205923     2101
308136     1801
860975     1613
           ...
1049630       1
1946840       1
197886        1
1649987       1
309845        1
Name: CODE, Length: 162, dtype: int64

In [101]:
medications["DESCRIPTION"].value_counts()

lisinopril 10 MG Oral Tablet                                         2217
Hydrochlorothiazide 25 MG Oral Tablet                                2179
1 ML Epoetin Alfa 4000 UNT/ML Injection [Epogen]                     2101
amLODIPine 2.5 MG Oral Tablet                                        1801
24 HR Metformin hydrochloride 500 MG Extended Release Oral Tablet    1613
                                                                     ...
NITROFURANTOIN  MACROCRYSTALS 50 MG Oral Capsule                        1
Diazepam 5 MG/ML Injectable Solution                                    1
10 ML Pamidronate Disodium 3 MG/ML Injection                            1
rosuvastatin calcium 10 MG Oral Tablet                                  1
lisinopril 5 MG Oral Tablet                                             1
Name: DESCRIPTION, Length: 166, dtype: int64

In [200]:
medications["BASE_COST"].value_counts()

0.91      2241
129.94    1377
0.48        98
0.50        94
0.47        92
          ...
342.49       1
18.86        1
473.52       1
6.35         1
6.36         1
Name: BASE_COST, Length: 5333, dtype: int64

In [202]:
medications["PAYER_COVERAGE"].value_counts()

0.00      7375
0.73       903
103.95     344
99.94      289
0.38        73
          ...
363.54       1
30.62        1
460.68       1
77.33        1
282.82       1
Name: PAYER_COVERAGE, Length: 3502, dtype: int64

In [203]:
medications["DISPENSES"].value_counts()

1      11621
4       1503
12       877
3        655
2        487
       ...
194        1
186        1
178        1
138        1
331        1
Name: DISPENSES, Length: 104, dtype: int64

In [205]:
medications["TOTALCOST"].value_counts()

0.91      1659
129.94     976
3.64       431
389.82     279
1.82        93
          ...
33.64        1
240.15       1
403.84       1
299.33       1
209.34       1
Name: TOTALCOST, Length: 5603, dtype: int64

In [102]:
medications["REASONCODE"].value_counts()

59621000.0     6195
271737000.0    2101
44054006.0     1822
15777000.0     1377
233678006.0     626
10509002.0      302
161665007.0     233
185086009.0     162
55822004.0      126
444814009.0     121
49436004.0      111
43878008.0       99
195967001.0      92
88805009.0       69
87433001.0       36
109838007.0      36
363406005.0      36
64859006.0       31
301011002.0      27
254837009.0      21
38822007.0       20
128613002.0      13
36971009.0       11
126906006.0      10
698306007.0       9
195662009.0       7
91302008.0        6
239873007.0       6
201834006.0       4
24079001.0        4
75498004.0        4
192127007.0       4
26929004.0        3
239872002.0       2
47505003.0        2
69896004.0        2
230265002.0       2
Name: REASONCODE, dtype: int64

In [103]:
medications["REASONDESCRIPTION"].value_counts()

Essential hypertension (disorder)                         6195
Anemia (disorder)                                         2101
Diabetes mellitus type 2 (disorder)                       1822
Prediabetes                                               1377
Childhood asthma                                           626
Acute bronchitis (disorder)                                302
History of renal transplant (situation)                    233
Chronic obstructive bronchitis (disorder)                  162
Hyperlipidemia                                             126
Viral sinusitis (disorder)                                 121
Atrial fibrillation (disorder)                             111
Streptococcal sore throat (disorder)                        99
Asthma                                                      92
Chronic congestive heart failure (disorder)                 69
Overlapping malignant neoplasm of colon                     36
Malignant tumor of colon                                    36
Pulmonary emphysema (disorder)                              36
Osteoporosis (disorder)                                     31
Escherichia coli urinary tract infection                    27
Malignant neoplasm of breast (disorder)                     21
Cystitis                                                    20
Seizure disorder                                            13
Sinusitis (disorder)                                        11
Neoplasm of prostate                                        10
Awaiting transplantation of kidney (situation)               9
Acute viral pharyngitis (disorder)                           7
Sepsis (disorder)                                            6
Osteoarthritis of knee                                       6
Atopic dermatitis                                            4
Acute bacterial sinusitis (disorder)                         4
Child attention deficit disorder                             4
Localized  primary osteoarthritis of the hand                4
Alzheimer's disease (disorder)                               3
Rheumatoid arthritis                                         2
Posttraumatic stress disorder                                2
Osteoarthritis of hip                                        2
Familial Alzheimer's disease of early onset (disorder)       2
Name: REASONDESCRIPTION, dtype: int64

In [104]:
medications["PATIENT"].value_counts()

e201efe2-198e-ceab-0038-41ecd9a68fd0    3231
31651bd8-1a95-3206-41ef-4ccf5b2d0461    1366
a01a1717-7a90-d91c-e78d-5d49ff25ea9a    1164
8060acde-4b13-976b-c3e1-14f3747cea0a     827
5d4f915d-9dcd-485c-1dc8-bea871dc2304     821
                                        ...
3c2401c2-7d08-5c22-eb55-733f19ac556d       2
f78e216e-9993-3fe5-4c67-6272f6e0b151       2
9ce6cc92-61a2-3cf9-5c61-1577aba2fda9       2
a7f45e15-51a1-1c17-b916-287750ffdafa       1
49fdc425-ccb7-3209-881a-767809d86745       1
Name: PATIENT, Length: 116, dtype: int64

In [206]:
medications["PAYER"].value_counts()

a735bf55-83e9-331a-899d-a82a60b9f60c    7308
0133f751-9229-3cfd-815f-b6d4979bdd6a    1618
b1c428d6-4f07-31e0-90f0-68ffa6ff8c76    1557
26aab0cd-6aba-3e1b-ac5b-05c8867e762c    1271
8fa6c185-e44e-3e34-8bd8-39be8694f4ce    1030
b046940f-1664-3047-bca7-dfa76be352a4     998
734afbd6-4794-363b-9bc0-6a3981533ed5     654
d31fccc3-1767-390d-966a-22a5156f4219     539
df166300-5a78-3502-a46a-832842197811     489
d18ef2e6-ef40-324c-be54-34a5ee865625      50
Name: PAYER, dtype: int64

In [30]:
medications["ENCOUNTER"].value_counts()

a4402cad-7fd7-6955-8448-e33d097f5291    26
fc974ccd-b672-8c17-b671-1a4d881fdba8    14
e607b032-863d-10fd-99d3-36a48515a29d    14
607e01d9-54c7-6c48-1916-58f9f27c6e99    13
b8285b40-7847-d5a1-af93-77912214a9d4    12
                                        ..
ae3d8f91-7181-b1f9-e1df-11021801431b     1
580ec54d-10fc-3e0b-2e33-d0d21d18b582     1
5616c514-6e45-b7f2-528b-bd2398f6fdf7     1
57ba4234-dacb-dfb7-751d-8740842f8436     1
4227174d-7efa-a4e1-c7da-5b003f89a52f     1
Name: ENCOUNTER, Length: 8295, dtype: int64

# Observations

In [32]:
observations.head(3)

,DATE,PATIENT,ENCOUNTER,CATEGORY,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2022-02-17T05:45:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,cf6058a1-d657-c29c-d424-4801c592eaf8,vital-signs,8302-2,Body Height,51.2,cm,numeric
1,2022-02-17T05:45:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,cf6058a1-d657-c29c-d424-4801c592eaf8,vital-signs,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,3.0,{score},numeric
2,2022-02-17T05:45:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,cf6058a1-d657-c29c-d424-4801c592eaf8,vital-signs,29463-7,Body Weight,3.2,kg,numeric

In [31]:
observations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347970 entries, 0 to 347969
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         347970 non-null  object
 1   PATIENT      347970 non-null  object
 2   ENCOUNTER    331551 non-null  object
 3   CATEGORY     331551 non-null  object
 4   CODE         347970 non-null  object
 5   DESCRIPTION  347970 non-null  object
 6   VALUE        347970 non-null  object
 7   UNITS        255742 non-null  object
 8   TYPE         347970 non-null  object
dtypes: object(9)
memory usage: 23.9+ MB

In [33]:
observations.nunique()

DATE           32803
PATIENT          123
ENCOUNTER      14176
CATEGORY           8
CODE             233
DESCRIPTION      251
VALUE           4740
UNITS             45
TYPE               2
dtype: int64

In [207]:
observations["CATEGORY"].value_counts()

laboratory        146783
survey            100488
vital-signs        76090
social-history      7940
procedure            149
exam                  80
imaging               11
therapy               10
Name: CATEGORY, dtype: int64

In [210]:
observations["CODE"].value_counts()

72514-3    11493
8462-4      7962
8480-6      7962
29463-7     7711
8302-2      7668
           ...
85343-2        1
92138-7        1
92130-4        1
80271-0        1
92131-2        1
Name: CODE, Length: 233, dtype: int64

In [212]:
observations["DESCRIPTION"].value_counts()

Pain severity - 0-10 verbal numeric rating [Score] - Reported    11493
Diastolic Blood Pressure                                          7962
Systolic Blood Pressure                                           7962
Body Weight                                                       7711
Body Height                                                       7668
                                                                 ...
MCV                                                                  1
Globulin                                                             1
Platelet Count                                                       1
Hematocrit                                                           1
Mental health Telehealth Note                                        1
Name: DESCRIPTION, Length: 251, dtype: int64

In [214]:
observations["VALUE"].value_counts()

No       30222
1.0      13172
Yes       7893
0.0       7274
2.0       6411
         ...
411.3        1
235.3        1
403.6        1
449.9        1
498.7        1
Name: VALUE, Length: 4740, dtype: int64

In [213]:
observations["UNITS"].value_counts()

mg/dL               47239
{nominal}           36688
{score}             27638
mmol/L              25063
mm[Hg]              16109
/min                15218
kg                  11434
a                   10946
%                   10879
cm                   9315
kg/m2                6533
{#}                  5355
fL                   5121
/a                   4397
g/dL                 4221
mL/min/{1.73_m2}     3991
pH                   3032
10*3/uL              2757
U/L                  2208
mg/g                 1429
10*6/uL              1371
pg                   1370
mL/min                755
g/L                   616
Cel                   466
kU/L                  435
{presence}            371
s                     162
[pH]                  144
pg/mL                  90
{INR}                  82
ug/dL                  76
{count}                56
{SG}                   53
ug/L                   38
ng/mL                  31
{T-score}              15
mm                     13
m[IU]/L                10
ng/L                    6
[iU]/L                  3
ng/dl                   2
ratio                   2
K/uL                    1
[degF]                  1
Name: UNITS, dtype: int64

In [38]:
observations["TYPE"].value_counts()

numeric    217622
text       130348
Name: TYPE, dtype: int64

In [209]:
observations["PATIENT"].value_counts()

e201efe2-198e-ceab-0038-41ecd9a68fd0    45198
31651bd8-1a95-3206-41ef-4ccf5b2d0461    40856
babe5c65-9bb5-3dde-315b-138110b8d664    15151
a01a1717-7a90-d91c-e78d-5d49ff25ea9a    13775
8060acde-4b13-976b-c3e1-14f3747cea0a    11840
                                        ...
3a53517d-9a0f-ec86-1c2b-93f4253194dc       94
0b0fefd8-ba9a-b401-5924-8c6ea36a8568       83
350e36b2-6b6b-bcc5-d38d-a29f2ffdbe52       83
ff72f1ac-ddb8-4481-3371-09cdcc48d3fc       58
a652df44-d908-5f1e-0c43-c5af9cf06ab6       47
Name: PATIENT, Length: 123, dtype: int64

In [208]:
observations["ENCOUNTER"].value_counts()

aa22000e-5867-50d7-c65a-4474da8945d5    760
2036ef64-611b-3af8-bb84-720fae800e45    532
a4402cad-7fd7-6955-8448-e33d097f5291    494
c395350c-6962-ee2f-e84c-2ef582508806    380
ac3fb44c-faf0-509a-d9cb-4151b629fb67    304
                                       ...
be9d88d7-55c1-3527-4b31-daf6988b6509      1
2db13c12-4e08-7b88-f07c-910b2fca8c2a      1
052928b6-78c1-bd80-438f-6eaeda8766a8      1
09fd8ff0-5ecf-2b28-2e2e-8ab354da0c08      1
10f8d5f4-6a21-d3cc-1d75-a23b34a1ace5      1
Name: ENCOUNTER, Length: 14176, dtype: int64

# Organizations

In [40]:
organizations.head(3)

,Id,NAME,ADDRESS,CITY,STATE,ZIP,LAT,LON,PHONE,REVENUE,UTILIZATION
0,74ab949d-17ac-3309-83a0-13b4405c66aa,Fitchburg Outpatient Clinic,881 Main Street,Fitchburg,MA,1420,42.586487,-71.805210,978-342-9781 Or 978-342-9781,0.0,303
1,faffaf6a-ee1a-3673-b0b0-421a9c249244,ACTIVATED BY WELLNESS LLC,66 WASHINGTON ST,STOUGHTON,MA,20722571,42.144158,-71.103783,6178719807,0.0,47
2,17a4bae5-8b64-34d7-8144-b428be027bd0,NURSE ON CALL,512 MAIN STREET SUITE 211,SHREWSBURY,MA,15456406,42.295110,-71.718085,5088451232,0.0,33

In [41]:
organizations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           285 non-null    object
 1   NAME         285 non-null    object
 2   ADDRESS      285 non-null    object
 3   CITY         285 non-null    object
 4   STATE        285 non-null    object
 5   ZIP          285 non-null    int64
 6   LAT          285 non-null    float64
 7   LON          285 non-null    float64
 8   PHONE        285 non-null    object
 9   REVENUE      285 non-null    float64
 10  UTILIZATION  285 non-null    int64
dtypes: float64(3), int64(2), object(6)
memory usage: 24.6+ KB

In [42]:
organizations.nunique()

Id             285
NAME           277
ADDRESS        277
CITY           140
STATE            1
ZIP            279
LAT            268
LON            268
PHONE          276
REVENUE          1
UTILIZATION    120
dtype: int64

In [43]:
organizations["NAME"].value_counts()

BAYADA HOME HEALTH CARE  INC                          2
UPHAMS CORNER HEALTH COMMITTEE INC                    2
BOSTON MEDICAL CENTER CORPORATION-                    2
ANNA JAQUES HOSPITAL SUBACUTE UNIT                    2
UMASS MEMORIAL HEALTHALLIANCE CLINTON HOSPITAL INC    2
                                                     ..
SOUTH COVE COMMUNITY HEALTH CENTER  INC               1
D'YOUVILLE SENIOR CARE                                1
WOONSOCKET URGENT CARE PC                             1
FAIRVIEW COMMONS NURSING & REHABILITATION CENTER      1
CAREWELL URGENT CARE CENTERS OF MA  PC                1
Name: NAME, Length: 277, dtype: int64

In [44]:
organizations["CITY"].value_counts()

BOSTON        13
WORCESTER     12
FALL RIVER    10
STOUGHTON      8
WOBURN         7
              ..
TOPSFIELD      1
LANCASTER      1
WESTWOOD       1
BEVERLY        1
WALTHAM        1
Name: CITY, Length: 140, dtype: int64

In [45]:
organizations["STATE"].value_counts()

MA    285
Name: STATE, dtype: int64

In [215]:
organizations["REVENUE"].value_counts()

0.0    285
Name: REVENUE, dtype: int64

In [216]:
organizations["UTILIZATION"].value_counts()

1      26
2      18
3      14
4      10
6       8
       ..
134     1
136     1
137     1
138     1
533     1
Name: UTILIZATION, Length: 120, dtype: int64

# Patients

In [217]:
patients.head(3)

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,CITY,STATE,COUNTY,FIPS,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE,INCOME
0,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,2022-02-17,NaN,999-99-1738,NaN,NaN,NaN,Tomas,Cruickshank,NaN,...,Agawam,Massachusetts,Hampden County,25013.0,1030,42.077484,-72.734602,1674.00,3072.46,86999
1,e21a6d28-3d43-24eb-72cd-02393a4e38a4,2015-12-07,NaN,999-52-2549,NaN,NaN,NaN,Natalya,Blick,NaN,...,North Attleborough,Massachusetts,Bristol County,NaN,0,41.931829,-71.294161,8527.70,3982.09,70477
2,febe7eb9-4860-1b17-d609-2c4c74e8b920,1999-01-10,NaN,999-54-1817,S99945271,X15876509X,Ms.,Sofia,Hegmann,NaN,...,Springfield,Massachusetts,Hampden County,25013.0,1109,42.190261,-72.538525,16811.18,93565.32,25741

In [218]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   123 non-null    object
 1   BIRTHDATE            123 non-null    object
 2   DEATHDATE            23 non-null     object
 3   SSN                  123 non-null    object
 4   DRIVERS              103 non-null    object
 5   PASSPORT             99 non-null     object
 6   PREFIX               100 non-null    object
 7   FIRST                123 non-null    object
 8   LAST                 123 non-null    object
 9   SUFFIX               2 non-null      object
 10  MAIDEN               41 non-null     object
 11  MARITAL              84 non-null     object
 12  RACE                 123 non-null    object
 13  ETHNICITY            123 non-null    object
 14  GENDER               123 non-null    object
 15  BIRTHPLACE           123 non-null    object
 16  ADDRESS              123 non-null    object
 17  CITY                 123 non-null    object
 18  STATE                123 non-null    object
 19  COUNTY               123 non-null    object
 20  FIPS                 85 non-null     float64
 21  ZIP                  123 non-null    int64
 22  LAT                  123 non-null    float64
 23  LON                  123 non-null    float64
 24  HEALTHCARE_EXPENSES  123 non-null    float64
 25  HEALTHCARE_COVERAGE  123 non-null    float64
 26  INCOME               123 non-null    int64
dtypes: float64(5), int64(2), object(20)
memory usage: 26.1+ KB

In [219]:
patients.nunique()

Id                     123
BIRTHDATE              100
DEATHDATE               23
SSN                    123
DRIVERS                103
PASSPORT                99
PREFIX                   3
FIRST                  122
LAST                   111
SUFFIX                   2
MAIDEN                  39
MARITAL                  4
RACE                     6
ETHNICITY                2
GENDER                   2
BIRTHPLACE              82
ADDRESS                123
CITY                    72
STATE                    1
COUNTY                  10
FIPS                     9
ZIP                     58
LAT                    123
LON                    123
HEALTHCARE_EXPENSES    121
HEALTHCARE_COVERAGE    120
INCOME                 100
dtype: int64

In [288]:
patients["PREFIX"].value_counts()

Mr.     44
Mrs.    41
Ms.     15
Name: PREFIX, dtype: int64

In [290]:
patients["SUFFIX"].value_counts()

MD    1
JD    1
Name: SUFFIX, dtype: int64

In [287]:
patients["MAIDEN"].value_counts()

Monahan         2
Erdman          2
King            1
Williamson      1
Villarreal      1
Veum            1
Yost            1
Kemmer          1
Emmerich        1
Ziemann         1
Crooks          1
Flatley         1
Fisher          1
Dietrich        1
Ferry           1
Bartell         1
Pfannerstill    1
Durgan          1
Goldner         1
Runte           1
Walker          1
Mann            1
Beatty          1
Bins            1
Weissnat        1
Schamberger     1
Jakubowski      1
O'Reilly        1
Russel          1
Ryan            1
Adams           1
Heidenreich     1
Moore           1
Bartoletti      1
Mante           1
Hackett         1
Purdy           1
Hyatt           1
Zulauf          1
Name: MAIDEN, dtype: int64

In [222]:
patients["MARITAL"].value_counts()

M    46
S    16
D    16
W     6
Name: MARITAL, dtype: int64

In [223]:
patients["RACE"].value_counts()

white       94
black       19
asian        6
hawaiian     2
other        1
native       1
Name: RACE, dtype: int64

In [224]:
patients["ETHNICITY"].value_counts()

nonhispanic    119
hispanic         4
Name: ETHNICITY, dtype: int64

In [225]:
patients["GENDER"].value_counts()

F    68
M    55
Name: GENDER, dtype: int64

In [226]:
patients["BIRTHPLACE"].value_counts()

Boston  Massachusetts  US             9
Springfield  Massachusetts  US        5
Newton  Massachusetts  US             4
Worcester  Massachusetts  US          4
Medford  Massachusetts  US            3
                                     ..
Topsfield  Massachusetts  US          1
Wilbraham  Massachusetts  US          1
East Longmeadow  Massachusetts  US    1
Amesbury  Massachusetts  US           1
San Juan  Puerto Rico  PR             1
Name: BIRTHPLACE, Length: 82, dtype: int64

In [227]:
patients["CITY"].value_counts()

Boston                9
Springfield           5
Chelsea               5
Fall River            5
North Attleborough    4
                     ..
Carver                1
Canton                1
Raynham               1
Cambridge             1
Ayer                  1
Name: CITY, Length: 72, dtype: int64

In [228]:
patients["STATE"].value_counts()

Massachusetts    123
Name: STATE, dtype: int64

In [229]:
patients["COUNTY"].value_counts()

Middlesex County     24
Essex County         19
Suffolk County       16
Bristol County       16
Worcester County     13
Norfolk County       11
Plymouth County       8
Barnstable County     7
Hampden County        6
Berkshire County      3
Name: COUNTY, dtype: int64

In [230]:
patients["HEALTHCARE_EXPENSES"].value_counts()

1644.00     3
91674.86    1
39489.19    1
13957.00    1
3378.00     1
           ..
73436.88    1
40553.24    1
84205.41    1
94375.92    1
1674.00     1
Name: HEALTHCARE_EXPENSES, Length: 121, dtype: int64

In [231]:
patients["HEALTHCARE_COVERAGE"].value_counts()

0.00          4
1096952.72    1
281224.63     1
966057.56     1
193548.91     1
             ..
145888.15     1
6046.35       1
1456753.41    1
843898.43     1
712945.92     1
Name: HEALTHCARE_COVERAGE, Length: 120, dtype: int64

In [232]:
patients["INCOME"].value_counts()

117670    5
82458     3
91673     3
63890     3
79309     3
         ..
17850     1
36799     1
170432    1
45508     1
84992     1
Name: INCOME, Length: 100, dtype: int64

# Payer Transitions

In [244]:
payer_transitions.head(3)

,PATIENT,MEMBERID,START_DATE,END_DATE,PAYER,SECONDARY_PAYER,PLAN_OWNERSHIP,OWNER_NAME
0,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,cb136847-de12-0e2d-82b3-1d93a782b61e,2022-02-17T05:45:41Z,2023-02-23T05:45:41Z,d31fccc3-1767-390d-966a-22a5156f4219,NaN,Guardian,Michale Cruickshank
1,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,cb136847-de12-0e2d-82b3-1d93a782b61e,2023-02-23T05:45:41Z,2024-02-23T05:45:41Z,d31fccc3-1767-390d-966a-22a5156f4219,NaN,Guardian,Michale Cruickshank
2,e21a6d28-3d43-24eb-72cd-02393a4e38a4,fce1802d-0e12-f872-ca95-a623972a6936,2015-12-07T08:29:09Z,2016-12-12T08:29:09Z,0133f751-9229-3cfd-815f-b6d4979bdd6a,NaN,Guardian,Miranda Ebert

In [245]:
payer_transitions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5499 entries, 0 to 5498
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PATIENT          5499 non-null   object
 1   MEMBERID         4663 non-null   object
 2   START_DATE       5499 non-null   object
 3   END_DATE         5499 non-null   object
 4   PAYER            5499 non-null   object
 5   SECONDARY_PAYER  657 non-null    object
 6   PLAN_OWNERSHIP   4663 non-null   object
 7   OWNER_NAME       4663 non-null   object
dtypes: object(8)
memory usage: 343.8+ KB

In [246]:
payer_transitions.nunique()

PATIENT             123
MEMBERID            271
START_DATE         4308
END_DATE           4331
PAYER                10
SECONDARY_PAYER       1
PLAN_OWNERSHIP        3
OWNER_NAME          227
dtype: int64

In [247]:
payer_transitions["MEMBERID"].value_counts()

32407eb6-1a45-c206-bba5-e70aafcd8c31    60
75d3212e-9828-1bf7-7007-fbe3a33d2afd    57
22176c9d-615a-9c8f-66c4-3d6f7dbb86f2    51
22b8c671-eae9-a841-9b4e-cc2e29ca7501    46
f2ef8da8-7e4c-e34f-1a2c-af7c860c44f6    46
                                        ..
10004a56-07e9-9cb3-1bb3-d6e772475625     1
7062d154-0f22-03d5-771a-4c3ab546c993     1
295f37d2-54d2-75e8-1b89-e90050637866     1
770194f6-de73-9a9a-fa4b-9a4e180efa6a     1
ff73f8a4-6863-e532-ad97-074f4ed886cf     1
Name: MEMBERID, Length: 271, dtype: int64

In [249]:
payer_transitions["PLAN_OWNERSHIP"].value_counts()

Self        3000
Guardian    1444
Spouse       219
Name: PLAN_OWNERSHIP, dtype: int64

In [250]:
payer_transitions["OWNER_NAME"].value_counts()

Christian Bechtelar      85
Ilene Goldner            64
Renda Dooley             64
Piper O'Reilly           61
Raymundo Pfannerstill    61
                         ..
Mellisa Flatley           1
Mr. Stanton               1
Hunter Quigley            1
Sonya King                1
Anisa Nader               1
Name: OWNER_NAME, Length: 227, dtype: int64

In [251]:
payer_transitions["PATIENT"].value_counts()

5d4f915d-9dcd-485c-1dc8-bea871dc2304    131
e201efe2-198e-ceab-0038-41ecd9a68fd0    103
31651bd8-1a95-3206-41ef-4ccf5b2d0461     95
6ea22161-852a-6e07-c1a3-cd40b3a1571e     86
f4fa21a0-3541-07c7-7dea-fa612331b720     83
                                       ...
3a53517d-9a0f-ec86-1c2b-93f4253194dc      2
f78e216e-9993-3fe5-4c67-6272f6e0b151      2
ff72f1ac-ddb8-4481-3371-09cdcc48d3fc      1
350e36b2-6b6b-bcc5-d38d-a29f2ffdbe52      1
a652df44-d908-5f1e-0c43-c5af9cf06ab6      1
Name: PATIENT, Length: 123, dtype: int64

In [252]:
payer_transitions["PAYER"].value_counts()

b1c428d6-4f07-31e0-90f0-68ffa6ff8c76    836
0133f751-9229-3cfd-815f-b6d4979bdd6a    788
b046940f-1664-3047-bca7-dfa76be352a4    740
a735bf55-83e9-331a-899d-a82a60b9f60c    725
8fa6c185-e44e-3e34-8bd8-39be8694f4ce    665
d31fccc3-1767-390d-966a-22a5156f4219    573
26aab0cd-6aba-3e1b-ac5b-05c8867e762c    437
df166300-5a78-3502-a46a-832842197811    429
734afbd6-4794-363b-9bc0-6a3981533ed5    282
d18ef2e6-ef40-324c-be54-34a5ee865625     24
Name: PAYER, dtype: int64

In [253]:
payer_transitions["SECONDARY_PAYER"].value_counts()

b046940f-1664-3047-bca7-dfa76be352a4    657
Name: SECONDARY_PAYER, dtype: int64

# Payers

In [266]:
payers.head(3)

,Id,NAME,OWNERSHIP,ADDRESS,CITY,STATE_HEADQUARTERED,ZIP,PHONE,AMOUNT_COVERED,AMOUNT_UNCOVERED,...,UNCOVERED_ENCOUNTERS,COVERED_MEDICATIONS,UNCOVERED_MEDICATIONS,COVERED_PROCEDURES,UNCOVERED_PROCEDURES,COVERED_IMMUNIZATIONS,UNCOVERED_IMMUNIZATIONS,UNIQUE_CUSTOMERS,QOLS_AVG,MEMBER_MONTHS
0,b046940f-1664-3047-bca7-dfa76be352a4,Blue Cross Blue Shield,PRIVATE,NaN,NaN,NaN,NaN,NaN,12402071.36,928644.33,...,0,1001,0,4704,0,853,0,55,0.492865,16764
1,734afbd6-4794-363b-9bc0-6a3981533ed5,Anthem,PRIVATE,NaN,NaN,NaN,NaN,NaN,1268061.59,310609.02,...,0,654,0,898,0,329,0,9,0.896893,3384
2,8fa6c185-e44e-3e34-8bd8-39be8694f4ce,Cigna Health,PRIVATE,NaN,NaN,NaN,NaN,NaN,5480745.77,760345.38,...,0,1030,0,2516,0,678,0,17,0.940881,7980

In [267]:
payers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Id                       10 non-null     object
 1   NAME                     10 non-null     object
 2   OWNERSHIP                10 non-null     object
 3   ADDRESS                  0 non-null      float64
 4   CITY                     0 non-null      float64
 5   STATE_HEADQUARTERED      0 non-null      float64
 6   ZIP                      0 non-null      float64
 7   PHONE                    0 non-null      float64
 8   AMOUNT_COVERED           10 non-null     float64
 9   AMOUNT_UNCOVERED         10 non-null     float64
 10  REVENUE                  10 non-null     float64
 11  COVERED_ENCOUNTERS       10 non-null     int64
 12  UNCOVERED_ENCOUNTERS     10 non-null     int64
 13  COVERED_MEDICATIONS      10 non-null     int64
 14  UNCOVERED_MEDICATIONS    10 non-null     int64
 15  COVERED_PROCEDURES       10 non-null     int64
 16  UNCOVERED_PROCEDURES     10 non-null     int64
 17  COVERED_IMMUNIZATIONS    10 non-null     int64
 18  UNCOVERED_IMMUNIZATIONS  10 non-null     int64
 19  UNIQUE_CUSTOMERS         10 non-null     int64
 20  QOLS_AVG                 10 non-null     float64
 21  MEMBER_MONTHS            10 non-null     int64
dtypes: float64(9), int64(10), object(3)
memory usage: 1.8+ KB

In [268]:
payers.nunique()

Id                         10
NAME                       10
OWNERSHIP                   3
ADDRESS                     0
CITY                        0
STATE_HEADQUARTERED         0
ZIP                         0
PHONE                       0
AMOUNT_COVERED             10
AMOUNT_UNCOVERED           10
REVENUE                    10
COVERED_ENCOUNTERS         10
UNCOVERED_ENCOUNTERS        2
COVERED_MEDICATIONS        10
UNCOVERED_MEDICATIONS       2
COVERED_PROCEDURES         10
UNCOVERED_PROCEDURES        2
COVERED_IMMUNIZATIONS      10
UNCOVERED_IMMUNIZATIONS     2
UNIQUE_CUSTOMERS           10
QOLS_AVG                   10
MEMBER_MONTHS              10
dtype: int64

In [269]:
payers["NAME"].value_counts()

Humana                    1
Medicaid                  1
Dual Eligible             1
Cigna Health              1
Blue Cross Blue Shield    1
NO_INSURANCE              1
Aetna                     1
UnitedHealthcare          1
Medicare                  1
Anthem                    1
Name: NAME, dtype: int64

In [270]:
payers["CITY"].value_counts()

Series([], Name: CITY, dtype: int64)

In [271]:
payers["STATE_HEADQUARTERED"].value_counts()

Series([], Name: STATE_HEADQUARTERED, dtype: int64)

In [272]:
payers["AMOUNT_COVERED"].value_counts()

1268061.59     1
7877579.16     1
481244.93      1
7573792.95     1
3769554.77     1
4816380.96     1
9552635.96     1
0.00           1
12402071.36    1
5480745.77     1
Name: AMOUNT_COVERED, dtype: int64

In [273]:
payers["AMOUNT_UNCOVERED"].value_counts()

11114646.11    1
346007.55      1
928644.33      1
310609.02      1
558347.10      1
149547.77      1
5461.55        1
970335.48      1
647075.33      1
760345.38      1
Name: AMOUNT_UNCOVERED, dtype: int64

In [274]:
payers["REVENUE"].value_counts()

5488673.17    1
1956751.35    1
3990508.48    1
6329839.24    1
1467452.70    1
4626093.50    1
0.00          1
3014718.82    1
2710.00       1
52080.00      1
Name: REVENUE, dtype: int64

In [275]:
payers["COVERED_ENCOUNTERS"].value_counts()

638     1
2028    1
3210    1
1719    1
1718    1
2660    1
4899    1
0       1
145     1
1415    1
Name: COVERED_ENCOUNTERS, dtype: int64

In [276]:
payers["UNCOVERED_ENCOUNTERS"].value_counts()

0       9
3112    1
Name: UNCOVERED_ENCOUNTERS, dtype: int64

In [277]:
payers["COVERED_MEDICATIONS"].value_counts()

654     1
1619    1
539     1
1001    1
1271    1
1030    1
489     1
51      1
7313    1
0       1
Name: COVERED_MEDICATIONS, dtype: int64

In [278]:
payers["UNCOVERED_MEDICATIONS"].value_counts()

0       9
1565    1
Name: UNCOVERED_MEDICATIONS, dtype: int64

In [279]:
payers["COVERED_PROCEDURES"].value_counts()

2146    1
6574    1
3932    1
2266    1
2905    1
2516    1
292     1
898     1
0       1
4704    1
Name: COVERED_PROCEDURES, dtype: int64

In [280]:
payers["UNCOVERED_PROCEDURES"].value_counts()

0       9
4205    1
Name: UNCOVERED_PROCEDURES, dtype: int64

In [281]:
payers["COVERED_IMMUNIZATIONS"].value_counts()

924    1
556    1
27     1
329    1
825    1
678    1
853    1
0      1
545    1
768    1
Name: COVERED_IMMUNIZATIONS, dtype: int64

In [282]:
payers["UNCOVERED_IMMUNIZATIONS"].value_counts()

0      9
868    1
Name: UNCOVERED_IMMUNIZATIONS, dtype: int64

In [283]:
payers["UNIQUE_CUSTOMERS"].value_counts()

27    1
43    1
20    1
9     1
55    1
22    1
21    1
4     1
18    1
17    1
Name: UNIQUE_CUSTOMERS, dtype: int64

In [284]:
payers["QOLS_AVG"].value_counts()

0.908966    1
0.403161    1
0.896893    1
0.776976    1
0.940881    1
0.644708    1
0.940209    1
0.492865    1
0.848020    1
0.941843    1
Name: QOLS_AVG, dtype: int64

In [285]:
payers["MEMBER_MONTHS"].value_counts()

5148     1
9456     1
16764    1
8700     1
5244     1
3384     1
6876     1
7800     1
7980     1
288      1
Name: MEMBER_MONTHS, dtype: int64

# Procedures

In [254]:
procedures.head(3)

,START,STOP,PATIENT,ENCOUNTER,CODE,DESCRIPTION,BASE_COST,REASONCODE,REASONDESCRIPTION
0,2022-02-17T05:45:41Z,2022-02-17T06:00:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,cf6058a1-d657-c29c-d424-4801c592eaf8,430193006,Medication Reconciliation (procedure),493.62,NaN,NaN
1,2022-03-24T05:45:41Z,2022-03-24T06:00:41Z,0b0fefd8-ba9a-b401-5924-8c6ea36a8568,9f4685e7-0424-aabe-bcaa-b2cf98bf5b0e,430193006,Medication Reconciliation (procedure),572.03,NaN,NaN
2,2015-12-07T08:29:09Z,2015-12-07T08:44:09Z,e21a6d28-3d43-24eb-72cd-02393a4e38a4,6b9fd2cd-bc11-2f9c-d223-d57310b12ef8,430193006,Medication Reconciliation (procedure),500.03,NaN,NaN

In [255]:
procedures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48885 entries, 0 to 48884
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   START              48885 non-null  object
 1   STOP               48885 non-null  object
 2   PATIENT            48885 non-null  object
 3   ENCOUNTER          48885 non-null  object
 4   CODE               48885 non-null  int64
 5   DESCRIPTION        48885 non-null  object
 6   BASE_COST          48885 non-null  float64
 7   REASONCODE         15178 non-null  float64
 8   REASONDESCRIPTION  15178 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.4+ MB

In [256]:
procedures.nunique()

START                36805
STOP                 39764
PATIENT                123
ENCOUNTER            16165
CODE                   245
DESCRIPTION            250
BASE_COST            19034
REASONCODE              64
REASONDESCRIPTION       64
dtype: int64

In [257]:
procedures["CODE"].value_counts()

710824005          4400
171207006          4270
430193006          3754
265764009          3723
454711000124102    3416
                   ...
18286008              1
312853008             1
225415001             1
133900002             1
305340004             1
Name: CODE, Length: 245, dtype: int64

In [258]:
procedures["DESCRIPTION"].value_counts()

Assessment of health and social care needs (procedure)                                    4400
Depression screening (procedure)                                                          3957
Medication Reconciliation (procedure)                                                     3754
Renal dialysis (procedure)                                                                3723
Depression screening using Patient Health Questionnaire Two-Item score (procedure)        3416
                                                                                          ...
Cardioassist by aortic balloon pump (procedure)                                              1
Assessment using Canadian Study of Health and Aging Clinical Frailty Scale (procedure)       1
Assessment using health assessment questionnaire (procedure)                                 1
Ultrasonography of abdomen  right upper quadrant and epigastrium                             1
Administration of anesthesia AND/OR sedation (procedure)                                     1
Name: DESCRIPTION, Length: 250, dtype: int64

In [259]:
procedures["BASE_COST"].value_counts()

431.40     29091
64.71         28
30.15          6
29.98          6
30.14          6
           ...
2302.95        1
1048.19        1
2761.20        1
8695.32        1
1024.00        1
Name: BASE_COST, Length: 19034, dtype: int64

In [262]:
procedures["REASONCODE"].value_counts()

72892002.0     9481
431857002.0    2408
46177005.0      887
6525002.0       489
10509002.0      218
               ...
401314000.0       2
262574004.0       2
36923009.0        1
37849005.0        1
195967001.0       1
Name: REASONCODE, Length: 64, dtype: int64

In [263]:
procedures["REASONDESCRIPTION"].value_counts()

Normal pregnancy                                  9481
Chronic kidney disease stage 4 (disorder)         2408
End-stage renal disease (disorder)                 887
Dependent drug abuse (disorder)                    489
Acute bronchitis (disorder)                        218
                                                  ...
Acute respiratory distress syndrome (disorder)       2
Third degree burn                                    2
Congenital uterine anomaly                           1
Major depression  single episode                     1
Asthma                                               1
Name: REASONDESCRIPTION, Length: 64, dtype: int64

In [264]:
procedures["PATIENT"].value_counts()

31651bd8-1a95-3206-41ef-4ccf5b2d0461    3333
e201efe2-198e-ceab-0038-41ecd9a68fd0    2627
5d4f915d-9dcd-485c-1dc8-bea871dc2304    1747
babe5c65-9bb5-3dde-315b-138110b8d664    1508
8060acde-4b13-976b-c3e1-14f3747cea0a    1416
                                        ...
3a53517d-9a0f-ec86-1c2b-93f4253194dc       3
ff72f1ac-ddb8-4481-3371-09cdcc48d3fc       3
0b0fefd8-ba9a-b401-5924-8c6ea36a8568       3
a652df44-d908-5f1e-0c43-c5af9cf06ab6       1
350e36b2-6b6b-bcc5-d38d-a29f2ffdbe52       1
Name: PATIENT, Length: 123, dtype: int64

In [265]:
procedures["ENCOUNTER"].value_counts()

6db4cf8e-5c8b-fa69-aeaa-da860a788c0d    123
48f0d317-3a60-ec00-9b29-82595b7173ff     99
f6319a60-c80c-75fd-e2db-88ae3804eb7b     87
74f2ab69-530b-b03e-a017-1e94c72f93b0     87
bf6f9d63-78ba-6fed-5679-7829edd175a4     87
                                       ...
f3e9a94b-14a9-d247-72d8-ea1f128d5c57      1
33a62dea-e404-1da5-8a83-00e7454966b6      1
09ac16ac-04df-c73d-e6bb-48c8ba14bfed      1
16765e57-29f6-218d-c01c-f216bf705a41      1
4227174d-7efa-a4e1-c7da-5b003f89a52f      1
Name: ENCOUNTER, Length: 16165, dtype: int64

# Providers

In [46]:
providers.head(3)

,Id,ORGANIZATION,NAME,GENDER,SPECIALITY,ADDRESS,CITY,STATE,ZIP,LAT,LON,ENCOUNTERS,PROCEDURES
0,0e9c337a-5ad4-3ba4-9263-d7d6b22d7235,74ab949d-17ac-3309-83a0-13b4405c66aa,Gabriel Reilly,F,GENERAL PRACTICE,881 Main Street,Fitchburg,MA,1420,42.586487,-71.805210,303,0
1,e7b48592-5367-388f-9f89-0532276d4090,faffaf6a-ee1a-3673-b0b0-421a9c249244,Gustavo Armstrong,M,GENERAL PRACTICE,66 WASHINGTON ST,STOUGHTON,MA,20722571,42.144158,-71.103783,47,0
2,6e03acc0-e89f-3b81-8d96-df7aff354bc7,17a4bae5-8b64-34d7-8144-b428be027bd0,Lindsay Ward,M,GENERAL PRACTICE,512 MAIN STREET SUITE 211,SHREWSBURY,MA,15456406,42.295110,-71.718085,33,0

In [47]:
providers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            285 non-null    object
 1   ORGANIZATION  285 non-null    object
 2   NAME          285 non-null    object
 3   GENDER        285 non-null    object
 4   SPECIALITY    285 non-null    object
 5   ADDRESS       285 non-null    object
 6   CITY          285 non-null    object
 7   STATE         285 non-null    object
 8   ZIP           285 non-null    int64
 9   LAT           285 non-null    float64
 10  LON           285 non-null    float64
 11  ENCOUNTERS    285 non-null    int64
 12  PROCEDURES    285 non-null    int64
dtypes: float64(2), int64(3), object(8)
memory usage: 29.1+ KB

In [48]:
providers.nunique()

Id              285
ORGANIZATION    285
NAME            285
GENDER            2
SPECIALITY        1
ADDRESS         277
CITY            140
STATE             1
ZIP             279
LAT             268
LON             268
ENCOUNTERS      120
PROCEDURES        1
dtype: int64

In [49]:
providers["ORGANIZATION"].value_counts()

4cb90b5f-734d-322f-a2f2-776824e1ce35    1
e5d50afe-8c7d-35f5-96f5-fb8941403b0f    1
bee866be-d41f-3259-97b2-0e10331c6c16    1
06cc2462-430f-3322-9c87-7e971125f510    1
b6717471-7f78-32c4-b1c5-e3a6310553d7    1
                                       ..
328f813e-4de8-3ec2-a113-43f3ddfb0b2a    1
8bf5325a-c11b-35c4-b07d-17a5aeba8353    1
e68de1a0-767e-3466-b9a6-43948ee073d3    1
e4dbbb2f-5a51-341d-b5a5-dd91b968b217    1
352f2e3b-0708-3eb4-9f7e-e73a685bf379    1
Name: ORGANIZATION, Length: 285, dtype: int64

In [237]:
providers["GENDER"].value_counts()

F    149
M    136
Name: GENDER, dtype: int64

In [240]:
providers["SPECIALITY"].value_counts()

GENERAL PRACTICE    285
Name: SPECIALITY, dtype: int64

In [238]:
providers["CITY"].value_counts()

BOSTON        13
WORCESTER     12
FALL RIVER    10
STOUGHTON      8
WOBURN         7
              ..
TOPSFIELD      1
LANCASTER      1
WESTWOOD       1
BEVERLY        1
WALTHAM        1
Name: CITY, Length: 140, dtype: int64

In [239]:
providers["STATE"].value_counts()

MA    285
Name: STATE, dtype: int64

In [242]:
providers["ENCOUNTERS"].value_counts()

1      26
2      18
3      14
4      10
6       8
       ..
134     1
136     1
137     1
138     1
533     1
Name: ENCOUNTERS, Length: 120, dtype: int64

In [243]:
providers["PROCEDURES"].value_counts()

0    285
Name: PROCEDURES, dtype: int64

# Supplies

In [29]:
supplies.head(3)

,DATE,PATIENT,ENCOUNTER,CODE,DESCRIPTION,QUANTITY
0,2018-04-08,f63b81f3-2aab-fe60-7c85-92a9a5eff526,e9060c0c-af26-d142-a84a-7f7651db5082,337388004,Blood glucose testing strips (physical object),50
1,2018-04-08,f63b81f3-2aab-fe60-7c85-92a9a5eff526,e9060c0c-af26-d142-a84a-7f7651db5082,1137596000,Blood lancet (physical object),100
2,2019-04-14,f63b81f3-2aab-fe60-7c85-92a9a5eff526,96f2dbb8-b0d1-0c18-7464-ea473e42e3f5,337388004,Blood glucose testing strips (physical object),50

### Overview

In [12]:
supplies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2139 entries, 0 to 2138
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATE         2139 non-null   object
 1   PATIENT      2139 non-null   object
 2   ENCOUNTER    2139 non-null   object
 3   CODE         2139 non-null   int64
 4   DESCRIPTION  2139 non-null   object
 5   QUANTITY     2139 non-null   int64
dtypes: int64(2), object(4)
memory usage: 100.4+ KB

### Unique values

In [13]:
supplies.nunique()

DATE            997
PATIENT          62
ENCOUNTER      1043
CODE             12
DESCRIPTION      12
QUANTITY          5
dtype: int64

### Counts

In [16]:
supplies["CODE"].value_counts()

337388004     892
1137596000    351
463659001     205
706226000     205
972002        205
704718009     116
467645007      89
8537005        42
431069006      22
119219003       9
126261006       2
346447007       1
Name: CODE, dtype: int64

In [233]:
supplies["DESCRIPTION"].value_counts()

Blood glucose testing strips (physical object)                                                 892
Blood lancet (physical object)                                                                 351
Medical air low pressure tubing (physical object)                                              205
Air filter  device (physical object)                                                           205
Continuous positive airway pressure/Bilevel positive airway pressure mask (physical object)    205
CPAP/BPAP oral mask (physical object)                                                          116
Continuous positive airway pressure nasal oxygen cannula (physical object)                      89
Solution (substance)                                                                            42
Packed red blood cells (product)                                                                22
Kidney part (body structure)                                                                     9
Human platelets  pooled (product)                                                                2
Fresh frozen plasma (product)                                                                    1
Name: DESCRIPTION, dtype: int64

In [236]:
supplies["QUANTITY"].value_counts()

50     892
1      627
100    393
5      205
2       22
Name: QUANTITY, dtype: int64

In [234]:
supplies["PATIENT"].value_counts()

49093d47-3c84-611c-ec79-68a5413087e7    228
d7058686-b43c-93d9-fb3d-0571af023de6    193
abe9c763-59b6-43a9-7ddd-07c9433a112c    171
b97f0438-4385-fb63-db1a-d549d09eb89c    166
b4fe4ced-4a4b-e2ad-8ac2-6ac338b3b412    109
                                       ...
e469241e-cad9-5648-a099-bdc5ac82bb7b      1
41ac485e-8346-259b-1661-a73de3413401      1
18c45bb2-9c6d-ace0-41cf-faa2c1707241      1
8060acde-4b13-976b-c3e1-14f3747cea0a      1
2331a899-a65f-5577-8b95-ce995e833aa3      1
Name: PATIENT, Length: 62, dtype: int64

In [17]:
supplies["ENCOUNTER"].value_counts()

2036ef64-611b-3af8-bb84-720fae800e45    7
53e93df5-6b4c-88fb-57ba-825ab3d03b5c    6
6c844f0b-8b7d-b896-d298-a2d59038f25e    6
cf722d67-7eaf-4be0-4bbe-20051bab4f22    6
29fda3d9-e321-8f12-4bdd-22aad0379798    6
                                       ..
46b277e5-a196-dfa8-bf87-d970f14e9fb6    1
ede92aa3-f337-3d5e-2fbd-c6feec3e7a2b    1
b21ea45f-39f6-eac7-cd84-0e28d72416fc    1
ec9dbde8-38dc-779f-3281-9cd53955b878    1
7a6ec35d-d88f-c73e-4657-de6217add547    1
Name: ENCOUNTER, Length: 1043, dtype: int64